
#lugui-menu{
    position: fixed;
    background-color: lightgray;
    /*padding-left: 5px;*/
    /*padding-right: 5px;*/

    /*border: 2px solid darkgrey;*/
    border-radius: 5px;

    font-family: 'Lato', Helvetica, Arial;
    font-weight: normal;
    font-size: 11pt;
    white-space: nowrap;
}

a{
    font-size: 10pt;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    color: royalblue;

}
a:hover{
    /*font-size: 11pt;*/
    font-weight: bold;
}

#lugui-table-header{
    position: fixed;
    background-color: lightgray;
}

#lugui-table-body-wrapper{
    position: fixed;
    overflow-x: auto;
    overflow-y: scroll;
}


#lugui-menu-actions span{
    font-size: 10pt;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    color: royalblue;
    background-color: white;
    border-radius: 4px;
    padding: 1px;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 5px;
    cursor: pointer;
}

#lugui-menu-actions span:hover{
    background-color: darkgrey;
}

.weightHandle{
    fill:white;
    /*stroke:grey;*/
    /*stroke-width:1;*/
    cursor: col-resize;
}

.headerLabel{
    font-family: 'Lato', Helvetica, Arial;
    font-weight: bold;
    font-size: 9pt;
    dominant-baseline:middle;
    fill:black;
    pointer-events:none;
    /*stroke-size:.1;*/
    /*stroke:white;*/
}


.tableData{
    font-family: 'Lato', Helvetica, Arial;
    font-weight: normal;
    font-size: 9pt;
    dominant-baseline:middle;
    fill:darkgrey;
}

.emptyHeader{
    opacity: .5;
}

.sortedColumn{
    font-weight: bolder;
    font-size: 11pt;
}
.fa{
    position: relative;
    top:.5pt;
}

.addColumnButton rect{
    fill:white;
    border-radius:5px;
}
.addColumnButton rect:hover{
    fill:darkgray;

}

.addColumnButton text{
    font-family:'FontAwesome';
    font-size:10pt;
    font-weight: bold;
    fill:black;
    dominant-baseline:central;
    text-anchor: middle;
    pointer-events:none;
    user-select: none;
}

.fontawe{
    font-family:'FontAwesome';
    font-size:10pt;
    dominant-baseline:central;
    text-anchor: middle;
}

.stackedColumnInfo{
    fill:lightgrey;
    cursor: pointer;

}

.stackedColumnInfo:hover{
    fill:white;
}



/* for gui helper */
.stackedOption rect{
    fill: white;
    opacity: .9;
}
.stackedOption text{
    font-family:'FontAwesome';
    font-size: 9pt;
    dominant-baseline:central;
    font-weight: bold;
    fill:black;
    cursor: pointer;

}
.stackedOption text:hover{
    fill:royalblue;
}

.popup{
    background:white;

    border-radius: 10px;
    padding: 10px;
    box-shadow: 10px 10px 5px #888888;

    font-family:'Lato', Helvetica, Arial;
    font-size:10pt;
    dominant-baseline:central;
    text-anchor: middle;
}


.selectionTable tr:hover{
    background-color: lightblue;
}


.dragObject{
    opacity:.5;
}

.dragHeader{
    fill:grey;
    opacity:.6;
}

.row .hovered{
    fill:black;
    /*fill: ;*/
    opacity: 1;
}
