@import '../vars';

.#{$lu_css_prefix} .#{$lu_css_prefix}-body {
  .lu-hover-only {
    display: none;
  }

  .hover,
  div.row:hover,
  div.aggregate:hover {
    .lu-not-hover {
      display: none;
    }

    .lu-hover-only {
      display: block;
    }
  }

  .lu-selection-only {
    display: none;
  }

  /**
    selected state extends hover state
   */
  .selected .lu-selection-only,
  .selected .lu-hover-only,
  .lu-group-selected .lu-selection-only,
  .lu-group-selected .lu-hover-only {
    display: block;
  }

  .selected .lu-not-hover,
  .lu-group-selected .lu-not-hover {
    display: none;
  }

  input {
    padding: 0;
    margin: 0;
    font: $lu_body_font;
    pointer-events: all;
  }

  line.slope {
    stroke: $lu_slope_color;
    stroke-width: 2;
    shape-rendering: geometricPrecision;

    &.hover {
      stroke: $lu_hover_color;
    }

    &.selected {
      stroke: $lu_selected_color;
    }
  }
}
