@import '../vars';
@import '../renderer/index';

.#{$lu_css_prefix} div.#{$lu_css_prefix}-body {
  @extend %lu-renderer;

  font: $lu_body_font;
  position: relative;

  div,
  svg {
    padding: 0;
    margin: 0;
  }

  .rows > *,
  svg.slopegraph,
  div.ranking {
    position: absolute;
  }

  div.cols,
  div.frozen,
  div.component0,
  div.component1 {
    display: flex;
    flex-direction: row;

    > * {
      flex: 0 0 auto;
    }
  }

  div.frozen {
    position: absolute;
    z-index: 1;
  }

  div.stack.component0,
  div.stack.component1 {
    > *:not(:last-child) {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  div.text,
  div.cat {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  div.text {
    &.text_center {
      text-align: center;
    }
  }

  div.loading {
    div {
      display: inline;
    }
  }

  div.group {
    position: absolute;
  }

  div.meanlines * {
    position: absolute;
    display: inline-block;
    width: 1px;
    border-left: 1px solid gray;
  }

  div.row,
  div.aggregate {
    font-size: 90%;
    display: flex;

    div.cols,
    div.frozen {
      background-color: white;
      border: 1px solid transparent;
      transition: border-color ease 0.2s;
    }

    &.selected {
      z-index: 3;

      div.cols {
        border-color: $lu_selected_color;
        border-left-color: transparent;
      }

      div.frozen {
        border-color: $lu_selected_color;
        border-right-color: transparent;
      }
    }

    &.even {
      div.cols,
      div.frozen {
        background-color: $lu_even_bg;
      }
    }

    &.hover {
      div.cols {
        border-color: $lu_hover_color;
        border-left-color: transparent;
      }

      div.frozen {
        border-color: $lu_hover_color;
        border-right-color: transparent;
      }
    }

    /**
    div.frozen {
      background-color: white;
      z-index: 1;
    }
    &.even div.frozen {
      background-color: $lu_even_bg;
    }
    &.selected div.frozen {
      border-top: 1px solid $lu_selected_color;
      border-bottom: 1px solid $lu_selected_color;
    }
    &.hover div.frozen {
      border-top: 1px solid $lu_hover_color;
      border-bottom: 1px solid $lu_hover_color;
    }
    */

    div.annotations input {
      width: 100%;
    }

    [data-renderer] {
      overflow-x: hidden;
      text-overflow: ellipsis;
    }
  }
}
