@import '../vars';

.#{$lu_css_prefix}-pool {
  div.header {
    border: 2px outset white;
    position: absolute;

    &:hover {
      border-color: $lu_hover_color;
    }
  }
}

.#{$lu_css_prefix},
.#{$lu_css_prefix}-pool {
  div.#{$lu_css_prefix}-header,
  div.#{$lu_css_prefix}-pool {
    .drop {
      width: 100%;
      height: 100%;
      background-color: white;

      &.drag_over {
        background-color: $lu_drag_over;
      }
    }
  }

  div.#{$lu_css_prefix}-header {
    div.header {
      &.drag_over div.#{$lu_css_prefix}-label {
        color: $lu_drag_over;
      }

      div.summary {
        position: absolute;
        left: 0;
        right: 5px;
        top: 40%;
        height: 60%;
        display: none;
      }

      div.#{$lu_css_prefix}-label {
        position: relative;
        background: inherit;
        transform-origin: left top;
        text-overflow: ellipsis;
        overflow-x: hidden;
      }

      span.#{$lu_css_prefix}-label {
        background: inherit;
      }

      i.sort_indicator {
        position: absolute;
        left: 1px;
        top: 1px;
        font-size: $lu_toolbar_font_size;
      }

      div.#{$lu_css_prefix}-handle {
        position: absolute;
        right: 0;
        height: 100%;
        top: 0;
        background-color: white;
        display: inline-block;
        cursor: col-resize;

        &.drag_over {
          background-color: $lu_drag_over;
        }
      }
    }

    div.rankingbuttons {
      position: absolute;
      display: inline-block;
      height: 100%;
      font-size: 90%;
    }

    div.header,
    div.header_i {
      position: absolute;
      top: 0;
      display: inline-block;
      overflow: hidden;
      color: white;
      text-align: center;
      height: 100%;
      font-size: 90%;

      &.number,
      &.categorical,
      &.boolean,
      &.booleans,
      &.hierarchy,
      &.ordinal {
        div.summary {
          display: block;

          div.bar {
            position: absolute;
            background-color: white;
            opacity: 0.5;

            &.selected {
              opacity: 1;
            }

            &:hover {
              opacity: 0.7;
            }
          }

          div.mean {
            position: absolute;
            height: 100%;
            width: 1px;
            border-left: 1px solid black;
          }
        }
      }

      @import '../header/toolbar';

      &.string {
        div.summary {
          display: block;
        }
      }

      &.selection,
      &.aggregation {
        div.summary {
          text-align: left;
          display: block;
        }
      }

      &.rotateable {
        overflow: visible;
        white-space: nowrap;
      }
    }

    div.header_i {
      top: 50%;
      height: 50%;
    }
  }
}
