@import '../vars';

.#{$engine_css_prefix}-th {
  color: black;
  margin-bottom: 15px;
  border-bottom: 1px solid black;

  &.#{$engine_css_prefix}-frozen::before {
    /**
    add a dummy white blocker for the margin-bottom
     */
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 15px;
    bottom: -16px;
    background: white;
    pointer-events: none;
  }

  &:hover {
    background-color: $lu_hover_header_color;

    > .#{$lu_css_prefix}-th-toolbar {
      color: $lu_toolbar_color_base2;
    }
  }
}

.#{$lu_css_prefix}-th-toolbar {
  color: $lu_toolbar_color_base;
}

.#{$lu_css_prefix}-th-label {
  text-align: center;
  padding-left: 0.8em;
  margin-right: $lu-engine_grip_gap;
  font-weight: 500;
}

.#{$lu_css_prefix}-th-summary {
  height: 2em;

  &:empty {
    display: none;
  }

  &[data-renderer=aggregate],
  &[data-renderer=selection] {
    display: block; // have just a before element
  }
}

.#{$lu_css_prefix}-handle {
  position: absolute;
  right: -$lu-engine_grip_gap;
  width: $lu_engine_grip_gap;
  height: 100%;
  background-color: white;
  cursor: col-resize;
  border-bottom: 1px solid white;
  text-align: center;
  bottom: -1px;

  &.#{$lu_css_prefix}-dragover {
    @include user_select_none();

    transition: width 0.2s ease, right 0.2s ease;
    color: $lu_toolbar_color_hover;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed $lu_drag_over;
    background-color: lighten($lu_drag_over, 35%);
    width: 50px;
    right: -25px;
    z-index: 10;
    font-size: small;

    &::before {
      content: 'Place here';
      overflow: hidden;
    }
  }

  &:hover {
    background-color: $lu_hover_color;
  }
}

// FIXME
.#{$lu_css_prefix}-dialog-sub-nested > section {
  margin-bottom: $lu_engine_grip_gap + 15px;
}

.#{$lu_css_prefix}-sub-handle {
  height: $lu_engine_grip_gap;
  width: 100%;
  bottom: ($lu_engine_grip_gap * -1) - 1px - 15px;
  left: 0;
  right: 0;
  cursor: inherit;

  &.#{$lu_css_prefix}-dragover {
    transition: bottom 0.2s ease, height 0.2s ease;
    height: 50px;
    bottom: ($lu_engine_grip_gap * -1) - 1px - 15px -25px;
    width: 100%;
    right: 0;
  }
}

// FIXME
.#{$engine_css_prefix}-th.#{$lu_css_prefix}-rotated-label {
  margin-top: 10em;

  > .#{$lu_css_prefix}-label.#{$lu_css_prefix}-rotated {
    overflow: visible;
    text-align: left;
    transform-origin: top left;
  }
}
