@import '../vars';
@import '../header/index';



/**
  needs to be the full path without any super import otherwise the @extend won't work properly
 */

section.#{$lu_css_prefix}-header {
  @extend %lu-header;

  text-align: center;
  color: black;
  overflow: unset !important;
  margin-right: -$lu_engine_grip_gap;
  margin-bottom: 15px;
  border-bottom: 1px solid black;

  &.frozen::before {
    /**
    add a dummy white blocker for the margin-bottom
     */
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 15px;
    bottom: -15px;
    background: white;
    pointer-events: none;
  }

  &:hover {
    background-color: $lu_even_bg;

    > .#{$lu_css_prefix}-toolbar {
      color: $lu_toolbar_color_base2;
    }
  }

  &[draggable=true] {
    cursor: pointer;
    cursor: -moz-grab;
    cursor: -webkit-grab; // indicate grab able
  }

  > .#{$lu_css_prefix}-toolbar {
    color: $lu_toolbar_color_base;
  }

  > .#{$lu_css_prefix}-label {
    padding-left: $lu-engine_grip_gap;
    margin-right: $lu-engine_grip_gap;
    font-weight: 500;
  }

  > .#{$lu_css_prefix}-sort {
    position: absolute;
    left: 1px;
    top: 1px;
    font-size: $lu_toolbar_font_size;
  }

  &.#{$lu_css_prefix}-dragover::after {
    background: $lu_drag_over;
  }

  > .#{$lu_css_prefix}-summary {
    height: 2em;
    margin-right: $lu-engine_grip_gap;
  }

  > .#{$lu_css_prefix}-nested {
    grid-column-gap: 1px;

    > section {
      border-bottom: none; // disable header line for stacked bar
    }
  }

  > .#{$lu_css_prefix}-handle {
    position: absolute;
    right: 0;
    width: $lu_engine_grip_gap;
    height: 100%;
    background-color: white;
    cursor: col-resize;
    border-bottom: 1px solid white;
    bottom: -1px;

    &.#{$lu_css_prefix}-dragover {
      -moz-user-select: none;
      user-select: none;
      transition: width 0.2s ease, right 0.2s ease;
      color: $lu_toolbar_color_hover;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px dashed $lu_drag_over;
      background-color: lighten($lu_drag_over, 35%);
      width: 50px;
      right: -25px;
      z-index: 10;
      font-size: small;

      &::before {
        content: 'Place here';
        overflow: hidden;
      }
    }

    &:hover {
      background-color: $lu_hover_color;
    }
  }
}

.#{$lu_css_prefix}-sub-nested > section {
  margin-bottom: $lu_engine_grip_gap;

  > .#{$lu_css_prefix}-handle {
    height: $lu_engine_grip_gap;
    width: 100%;
    bottom: ($lu_engine_grip_gap * -1) - 1px;
    left: 0;
    right: 0;
    cursor: inherit;
  }
}

.lineup-engine.#{$lu_css_prefix}-rotated-label {
  section.#{$lu_css_prefix}-header {
    > .#{$lu_css_prefix}-label.#{$lu_css_prefix}-rotated {
      overflow: visible;
      text-align: left;
      transform-origin: top left;
      z-index: 1;
    }
  }
}
