@import '../vars';
@import '../renderer/index';

.lineup-engine {
  > header > article,
  > main > article > * {
    grid-column-gap: $lu_engine_grip_gap;
  }

  > main > article {
    @extend %lu-renderer;

    > * {
      @import './row';
    }
  }
}

@import './header';
@import './slope_graph';
@import './selection';

$engine_assets: '~lineupengine/src/assets';

@import '~lineupengine/src/style';
