@import '../vars';

@import '~lineupengine/src/style';

.#{$engine_css_prefix}-th,
.#{$lu_css_prefix}-nested-th {
  box-sizing: border-box;
  margin-right: $lu_engine_grip_gap;
}

.#{$engine_css_prefix}-td {
  box-sizing: border-box;
}

.#{$engine_css_prefix}-footer {
  // extra space to the right using a width for easier last column resizing
  width: $lu_engine_resize_space;
}

.#{$lu_css_prefix}-resize-helper {
  display: none;
}

.#{$lu_css_prefix}-resize-helper.#{$lu_css_prefix}-resize-animated {
  transition: transform $lu_engine_resize_animation_duration linear !important;
}

.#{$lu_css_prefix}-resize-helper.#{$lu_css_prefix}-resizing {
  display: unset;
}

@import './header';
@import './selection';
@import './row';
