@import '../vars';

@import '~lineupengine/src/style';

.#{$engine_css_prefix}-th,
.#{$lu_css_prefix}-nested-th {
  box-sizing: border-box;
  margin-right: $lu_engine_grip_gap;
}

.#{$engine_css_prefix}-td {
  box-sizing: border-box;
}

.le-footer {

  // extra space to the right using a width for easier last column resizing
  width: 50px;
}

@import './header';
@import './selection';
@import './row';
