@import '../vars';
@import '~lineupengine/src/styles/mixins';

.#{$lu_css_prefix}-hover-only {
  visibility: hidden;
  padding-left: 4px;

  > .#{$lu_css_prefix}-gradient-text {
    left: 4px;
  }
}

.#{$engine-css_prefix}-tr {
  /*
  &:hover,
  &.#{$lu_css_prefix}-selected,
  &.#{$engine_css_prefix}-highlighted {
    .#{$lu_css_prefix}-hover-only {
      visibility: visible;
    }
  }
  */

  &.#{$lu_css_prefix}-selected {
    /**
    selected state extends hover state
    */
    @include collapsing-row-border($lu_engine_row_outline_width, $lu_selected_color);
  }

  > canvas {
    height: 100%;
    display: block;
  }
}

.#{$engine-css_prefix}-td[data-group=d] {
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

// FIXME
.#{$lu-css_prefix}-whole-hover {
  .#{$lu-css_prefix}-row:hover {
    height: auto !important;
    white-space: unset;
  }
}
