@import '../vars';
@import '~lineupengine/src/styles/mixins';

.#{$lu-css_prefix}-row {
  .#{$lu_css_prefix}-hover-only,
  .#{$lu_css_prefix}-selection-only {
    visibility: hidden;
    padding-left: 4px;

    > .#{$lu_css_prefix}-gradient-text {
      left: 4px;
    }
  }

  &:hover,
  &.#{$lu_css_prefix}-selected,
  &.le-highlighted {
    .#{$lu_css_prefix}-not-hover {
      visibility: visible;
    }

    .#{$lu_css_prefix}-hover-only {
      visibility: visible;
    }
  }

  /**
    selected state extends hover state
   */
  &.#{$lu_css_prefix}-selected {
    @include collapsing-row-border($lu_engine_row_outline_width, $lu_selected_color);

    .#{$lu_css_prefix}-selection-only {
      visibility: visible;
    }
  }

  [data-group=d] {
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
  }

  > canvas {
    width: 100%;
    height: 100%;
  }
}

.#{$lu-css_prefix}-whole-hover {
  .#{$lu-css_prefix}-row:hover {
    height: auto !important;
    white-space: unset;
  }
}
