@import '../vars';

.#{$lu_css_prefix}-hr {
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 2px;
  margin: 0;
  background-color: $lu_selected_color;
  border: none;
  transform-origin: left center;
  display: none;
  pointer-events: none;

  @include user_select_none();

  &.#{$lu_css_prefix}-selection-active {
    display: block;
    z-index: 1000;
  }
}

.#{$engine_css_prefix}-tbody.#{$lu_css_prefix}-selection-active {
  @include user_select_none();
}

.#{$lu_css_prefix}-selection-indicator {
  float: right;
  width: 4px;
  left: 0;
  height: 100%;
  display: none;
  flex-direction: column;
  justify-content: flex-end;

  > canvas {
    background: #efefef;
  }

  &.#{$lu_css_prefix}-some-selection {
    display: flex;
  }
}
