@import '../vars';
@import '~font-awesome/scss/variables';
@import '~font-awesome/scss/mixins';

section.#{$lu-css_prefix}-slopegraph {

  svg {
    shape-rendering: geometricprecision;
    height: 100%;
    width: 100%;

    path {
      &.#{$lu-css_prefix}-slope {
        fill: none;
        stroke: $lu_slope_color;
        stroke-width: $lu_slope_stroke_width;
        stroke-linecap: round;

        &:hover,
        &.lu-selected {
          z-index: 10;
          stroke: $lu_selected_color;
        }
      }

      &.#{$lu-css_prefix}-group-slope {
        fill: $lu_slope_group_color;
        stroke: $lu_slope_color;
        stroke-linejoin: round;

        &:hover,
        &.lu-selected {
          z-index: 10;
          stroke: $lu_selected_color;
          fill: $lu_slope_group_selected_color;
        }
      }
    }
  }
}

section.#{$lu-css_prefix}-slopegraph-header {
  display: flex;
  padding-top: 1.4em;
  justify-content: center;

  i {
    padding: 2px 4px;
    transition: all 0.5s ease;
    cursor: pointer;
    color: $lu_toolbar_color_base2;

    &:hover {
      color: $lu_toolbar_color_hover;
    }

    &.active {
      color: $lu_selected_color;
      cursor: not-allowed;
    }
  }

  i::before {
    @include fa-icon();
  }

  i[title=Item]::before {
    content: $fa-var-align-justify;
  }

  i[title=Band]::before {
    content: $fa-var-bars;
  }
}
