@import '../vars';

section.#{$lu-css_prefix}-slopegraph {
  svg {
    shape-rendering: geometricprecision;
    height: 100%;

    path {
      &.#{$lu-css_prefix}-slope {
        fill: none;
        stroke: $lu_slope_color;
        stroke-width: $lu_slope_stroke_width;
        stroke-linecap: round;
      }

      &.#{$lu-css_prefix}-group-slope {
        fill: $lu_slope_group_color;
        stroke: $lu_slope_color;
        stroke-linejoin: round;
      }
    }
  }
}
