@import '../vars';

&[data-summary=hist],
&[data-summary=interactive-hist] {
  display: flex;
  align-items: flex-end;
  font-size: x-small;

  > * {
    flex: 1 1 auto;
    position: relative;
    background: rgba(255, 255, 255, 0.5);
    margin: 0 2px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    &[data-filtered=filtered] {
      opacity: 0.2;
    }

    > .lu-selected {
      flex: 1 1 auto;
      background-color: $lu_selected_color;
      border-radius: 5px 5px 0 0;
    }

    &[data-title]::before {
      content: attr(data-title);
      position: absolute;
      top: 100%;
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      text-align: center;
    }
  }
}

&[data-summary=interactive-hist] {
  > * {
    cursor: pointer;
  }
}
