@import '../vars';
@import '../header/index';

> article {
  @extend %lu-header;

  counter-increment: side-panel-counter;
  background-color: #fff;
  margin-bottom: 0.8em;

  &.#{$lu_css_prefix}-dragover::after {
    display: none;
  }

  &::before {
    content: 'Drop here to change the sorting';
    position: absolute;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    margin-bottom: 0.8em;
    height: 0;
    width: 100%;
    user-select: none;
    pointer-events: none;
    font-size: 120%;
    color: $lu_toolbar_color_hover;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed $lu_drag_over;
    background-color: lighten($lu_drag_over, 35%);
    transition: height 0.2s ease, opacity 0.2s ease;
  }

  &.#{$lu_css_prefix}-dragover::before {
    position: static;
    height: 50px;
    opacity: 1;
    visibility: visible;
  }

  > header {
    display: flex;
    align-content: space-between;
    background: $lu_side_panel_bg_color;
    padding: 0.2em 0.5em;
    position: relative;
    font-size: $lu_side_panel_font_size;
    font-weight: 500;

    &::before {
      color: $lu_toolbar_color_base2;
      padding-right: 0.2em;
      content: counter(side-panel-counter);
    }

    .#{$lu_css_prefix}-label {
      margin: 0 1em 0 0;
      padding: 0 0 0 0.4em;
      overflow: hidden !important;
      cursor: pointer;
      flex: 1;
    }

    > .#{$lu_css_prefix}-toolbar {
      color: $lu_toolbar_color_base2;
    }
  }

  .#{$lu_css_prefix}-toolbar {
    padding: 0;
  }

  main.#{$lu_css_prefix}-summary {
    margin: 0.5em;
    height: 50px;
    font-size: small;

    &[data-summary=interactive-filter-hist] {
      margin-bottom: 3em;
    }

    &[data-summary=string] {
      display: block;
      height: auto;
    }
  }
}
