@import '../vars';
@import '../header/index';

> article {
  @extend %lu-header;

  counter-increment: side-panel-counter;
  margin-bottom: 10px;
  background-color: #fff;

  > header {
    display: flex;
    align-content: space-between;
    background: $lu_side_panel_bg_color;
    padding: 0.5em;
    position: relative;

    &::before {
      color: #999;
      content: counter(side-panel-counter);
      font-size: 1.4em;
      position: absolute;
      top: 0.05em;
    }

    h2 {
      order: 1;
      font-size: 1em;
      margin: 0 1em 0 0;
      padding: 0 0 0 1.6em;
      white-space: nowrap;
      overflow: hidden !important;
      text-overflow: ellipsis;
    }
  }

  .#{$lu_css_prefix}-toolbar {
    background: $lu_side_panel_toolbar_bg;
    font-size: $lu_side_panel_toolbar_font_size;
    top: 5px;

    > i:hover {
      color: #3e89db;
    }
  }

  &:not(.#{$lu_css_prefix}-compressed):hover .#{$lu_css_prefix}-toolbar::before {
    font-size: $lu_side_panel_toolbar_font_size - 1pt;
  }

  main {
    margin: 0.5em;
    height: 50px;
    font-size: small;

    &[data-summary=slider-hist] > div,
    &[data-summary=hist] > div {
      background: #dcdcdc;
    }
  }
}
