@import '../vars';

.#{$lu_css_prefix}-side-panel {
  display: flex;
  flex-direction: column;
  max-width: 26em;
  min-width: 19em;

  > header {
    flex: 0 0 auto;
    text-align: center;
    padding: 1em 0.5em;

    form {
      position: relative;

      select {
        width: 100%;
        font-size: 120%;
      }
    }

    border-bottom: 2px solid #dedede;
  }

  > div {
    flex: 1 1 auto;
    position: relative;
    overflow: auto;

    > main {
      counter-reset: side-panel-counter;

      @import './entry';
    }
  }

  @import './search';
}

