/.tscache
/.idea
/build/
/dist/
/docs/
node_modules/
/src/**/*.js
/src/**/*.d.ts
/demo/**/*.js
/tests/**/*.js
/cypress/integration/**/*.js
/cypress/integration/**/*.d.ts
*.map
*.css
*.log
*.tsbuildinfo
/.yarn
/.pnp.js
/.yarnrc.yml
*.tgz
*.zip
