/build
/dist
/docs
/coverage
/.gitattributes
.gitignore
.prettierignore
/LICENSE
/.vscode
*.svg
*.tsbuildinfo
/src/**/*.map
/src/**/*.d.ts
/src/**/*.js
/tests/**/*.map
/tests/**/*.d.ts
/tests/**/*.js
/demo/**/*.map
/demo/**/*.d.ts
/demo/**/*.js
/.stylelintrc
/.editorconfig
/.yarn
/.pnp.js
/.yarnrc.yml
/.vscode
*.lock
*.tgz
*.png
*.txt
*.eot
*.ttf
*.woff
*.woff2
*.mp4
*.csv
