/build
/dist
/docs
/coverage
/.gitattributes
.gitignore
.prettierignore
/LICENSE
/.vscode
*.svg
*.map
*.tsbuildinfo
/src/**/*.d.ts
/src/**/*.js
/tests/**/*.d.ts
/tests/**/*.js
/demo/**/*.d.ts
/demo/**/*.js
/cypress/integration/**/*.js
/cypress/integration/**/*.d.ts
/.stylelintrc
/.editorconfig
/.yarn
/.pnp.js
/.pnp.cjs
/.yarnrc.yml
/.vscode
*.lock
*.tgz
*.png
*.txt
*.eot
*.ttf
*.woff
*.woff2
*.mp4
*.csv
