table.lineup {
  table-layout: fixed;
}
table.lineup th {
  overflow: hidden;
}
table.lineup th:hover {
  cursor: pointer;
}
table.lineup td {
  overflow: hidden;
}
table.lineup th.sortBy {
  border: 3px solid orange;
}
table.lineup td div {
  height: 20px;
  overflow: visible;
}

table.lineup tr:hover {
  background-color: orange;
}