table.lineup {
  table-layout: fixed;
  width: 100%;
}

table.lineup th {
  overflow: hidden;
  white-space:nowrap;
  border: 3px solid lightgrey;
}
table.lineup th:hover {
  cursor: pointer;
}
table.lineup th div.drag {
  height: 14pt;
  width: 10px;
  /*margin-right: -20px;*/
  background-color: red;
  float: right;
  z-index: 2;
}
table.lineup tbody td {
  overflow: hidden;
  white-space:nowrap;
}
table.lineup tbody td.n {
  overflow: auto;
}
table.lineup th.sortBy {
  border: 3px solid orange;
}
table.lineup tbody td > div {
  height: 14pt;
  overflow: visible;
  font-size: 0; 
  vertical-align: middle;
}

table.lineup tbody tr:hover td > div {
  font-size: 12pt;
}

table.lineup tbody tr:hover {
  background-color: orange;
}

th.rank_th {
  background-color : lightgrey;
}