@import '~lineupengine/src/styles/import_once';

@include exports('lineupjs/taggle/lod') {
  .lineup-engine {
    /* since the row height should be configurable -> dynamic rule, see TaggleRenderer */

    [data-lod=low][data-agg=detail] > * {
      overflow: hidden;
    }

    [data-lod=low][data-agg=detail]:not(:hover) {
      &[data-meta~=first] {
        /* change rendering of the first row for a group to show the collapse arrow of `[data-renderer=aggregate]` */
        z-index: 11; // 11 overrules the `z-index: 10;` of `.lu-selected` in _row.scss
        position: relative;
      }

      .lu-hover-only,
      .lu-selection-only,
      [data-renderer] {
        visibility: hidden;
      }

      [data-renderer=heatmap],
      [data-renderer=catheatmap] {
        visibility: visible !important;
      }

      [data-renderer=aggregate] {
        visibility: visible !important;
        overflow: visible !important;

        &::before {
          position: absolute;
          left: 0;
          right: 0;
        }
      }

      [data-renderer=group] {
        visibility: visible !important;
        overflow: visible !important;
        position: relative;

        > * {
          position: absolute;
          left: 0;
          right: 0;
        }
      }

      [data-renderer=number] {
        visibility: visible !important;

        > * {
          top: 0;
          bottom: 0;
        }
      }

      [data-renderer=boxplot] {
        visibility: visible !important;

        > div {
          height: 100%;

          &::before,
          > div:last-child,
          > div:first-child::after {
            display: none;
          }

          > div:first-child {
            top: 0;
            height: 100%;
            background: #c1c1c1;
          }
        }
      }

      [data-renderer=upset] {
        visibility: visible !important;
        align-items: stretch;

        > div:first-child {
          display: none;
        }

        > div:nth-child(n + 2) {
          border-radius: 0;
          height: 100%;

          &:not(.enabled) {
            visibility: hidden;
          }
        }
      }

      [data-renderer=categorical],
      [data-renderer=brightness] {
        visibility: visible !important;

        > div:first-of-type {
          margin-right: 0;
          flex: 1 1 auto;
        }

        > div:last-of-type {
          display: none;
        }
      }

      [data-renderer=dot] {
        visibility: visible !important;

        > div {
          top: 0 !important;
          height: 100%;
          margin-top: 0;
        }
      }
    }
  }
}
