@import '~font-awesome/scss/variables';
@import '~font-awesome/scss/mixins';
@import '../vars';

.#{$lu_css_prefix}-side-panel {
  > div > main > article > header .#{$lu_css_prefix}-label {
    padding: 0 0 0 0.2em;

    &::before {
      content: '';
      display: inline;
      padding-left: 20px;
      background-position: left center;
      background-repeat: no-repeat;
      background-size: 75%;
    }
  }

  .#{$lu_css_prefix}-search [data-type='categorical']::before,
  > div > main > article[data-type='categorical'] > header .#{$lu_css_prefix}-label::before {
    background-image: url('#{$lu_assets}/icon_categorical.svg');
  }

  .#{$lu_css_prefix}-search [data-type='numerical']::before,
  .#{$lu_css_prefix}-search [data-type='number']::before,
  > div > main > article[data-type='number'] > header .#{$lu_css_prefix}-label::before {
    background-image: url('#{$lu_assets}/icon_numerical.svg');
  }

  .#{$lu_css_prefix}-search [data-type='matrix']::before,
  .#{$lu_css_prefix}-search [data-type='numbers']::before,
  > div > main > article[data-type='numbers'] > header .#{$lu_css_prefix}-label::before {
    background-image: url('#{$lu_assets}/icon_matrix.svg');
  }

  .#{$lu_css_prefix}-search [data-type='label']::before,
  .#{$lu_css_prefix}-search [data-type='string']::before,
  > div > main > article[data-type='string'] > header .#{$lu_css_prefix}-label::before {
    background-image: url('#{$lu_assets}/icon_string.svg');
  }
}

.#{$lu_css_prefix}-search {
  .#{$lu_css_prefix}-search-item > span > span,
  .#{$lu_css_prefix}-search-group > span > span {
    display: flex;

    &::before {
      content: '';
      color: $lu_toolbar_color_base2;
      display: inline;
      padding-left: 20px;
      background-position: left center;
      background-repeat: no-repeat;
      background-size: 70%;
    }
  }
}
