@import '~font-awesome/scss/variables';
@import '~font-awesome/scss/mixins';
@import '../vars';

.#{$lu_css_prefix}-side-panel {
  > div > main > article > header .#{$lu_css_prefix}-label {
    &::before {
      @include fa-icon();

      color: $lu_toolbar_color_base2;
      display: block;
      float: left;
      margin-top: 2px;
      margin-right: 8px;
    }
  }

  .#{$lu_css_prefix}-search [data-type='categorical']::before,
  > div > main > article[data-type='categorical'] > header .#{$lu_css_prefix}-label::before {
    content: $fa-var-bars;
  }

  .#{$lu_css_prefix}-search [data-type='numerical']::before,
  .#{$lu_css_prefix}-search [data-type='number']::before,
  > div > main > article[data-type='number'] > header .#{$lu_css_prefix}-label::before {
    content: $fa-var-signal;
    transform: rotate(270deg) scaleY(-1);
  }

  .#{$lu_css_prefix}-search [data-type='matrix']::before,
  .#{$lu_css_prefix}-search [data-type='numbers']::before,
  > div > main > article[data-type='numbers'] > header .#{$lu_css_prefix}-label::before {
    content: $fa-var-th;
  }

  .#{$lu_css_prefix}-search [data-type='label']::before,
  .#{$lu_css_prefix}-search [data-type='string']::before,
  > div > main > article[data-type='string'] > header .#{$lu_css_prefix}-label::before {
    content: $fa-var-align-center;
  }
}

.#{$lu_css_prefix}-search {
  .#{$lu_css_prefix}-search-item > span > span,
  .#{$lu_css_prefix}-search-group > span > span {
    display: flex;

    &::before {
      @include fa-icon();

      display: block;
      align-self: flex-start;
      margin-top: 2px;
      margin-right: 8px;
      color: $lu_toolbar_color_base2;
    }
  }

  .#{$lu_css_prefix}-search-highlighted > span > span {
    &::before {
      color: #fff;
    }
  }
}
