@import '~font-awesome/scss/variables';
@import '~font-awesome/scss/mixins';
@import '../vars';

.#{$lu_css_prefix}-rule-button-chooser {
  padding: 0.5em 0.5em 0;
  flex: 0 0 auto;
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;

  span {
    padding-left: 5px;
  }

  > div {
    display: none;
  }

  &:hover {
    div:not(:empty) {
      opacity: 1;
      visibility: visible;
      transition-delay: 0s, 0.3s;
    }
  }

  &::before {
    @include fa-icon();
    margin-top: -1px;
    content: $fa-var-square-o;
  }

  &.chosen::before {
    content: $fa-var-check-square-o;
  }

  &.violated {
    > div {
      display: block;
      position: absolute;
      background: lighten(#FFD700, 45%);
      border: 1px solid black;
      top: 110%;
      left: 5px;
      width: 96%;
      hyphens: manual;
      padding: 5px;
      z-index: 100;
      pointer-events: none;
      opacity: 0;
      visibility: hidden;
      transition: visibility 0s ease 0.3s, opacity 0.3s ease 0s;

      &::before {
        content: '';
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid black;
        position: absolute;
        top: -6px;
        left: 29.4%;
      }
    }

    &::after {
      @include fa-icon();
      content: $fa-var-exclamation-triangle;
      margin-top: -1px;
      margin-left: 5px;
      color: #FFD700;
    }
  }
}
