@import '../vars';

.#{$lu_css_prefix}-taggle {
  display: flex;
  flex-direction: row-reverse;

  > aside.panel {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    border-left: 1px solid $lu_taggle_border_color;
    border-radius: 0;
  }

  > main {
    flex: 1 1 auto;
  }
}
