
.lu #lugui-menu {
    position: fixed;
    background-color: lightgray;
    /*padding-left: 5px;*/
    /*padding-right: 5px;*/

    /*border: 2px solid darkgrey;*/
    border-radius: 5px;

    font-family: 'Lato', Helvetica, Arial;
    font-weight: normal;
    font-size: 11pt;
    white-space: nowrap;
}

.lu a {
    font-size: 10pt;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    color: royalblue;

}

.lu a:hover {
    /*font-size: 11pt;*/
    font-weight: bold;
}

.lu #lugui-table-header {
    position: fixed;
    background-color: lightgray;
}

.lu #lugui-table-body-wrapper {
    position: fixed;
    overflow-x: auto;
    overflow-y: scroll;
}

.lu #lugui-menu-actions span {
    font-size: 10pt;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    color: royalblue;
    background-color: white;
    border-radius: 4px;
    padding: 1px;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.lu #lugui-menu-actions span:hover {
    background-color: darkgrey;
}