
#lugui-menu {
  /*padding-left: 5px;*/
  /*padding-right: 5px;*/

  /*border: 2px solid darkgrey;*/
  /*background-color: black;*/
  border-radius: 5px;

  font-weight: normal;
  font-size: 11pt;
  white-space: nowrap;
  padding: 5px;
}

#lugui-menu a {
  font-size: 10pt;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  color: royalblue;

}

div#pool {
  position: fixed;
  z-index: 40;
  left: 3px;
  top: 100px;
  display: none;
  background: #e9e9e9;
  border-radius: 5px;
  padding: 3px;
}

#lugui-menu a:hover {
  /*font-size: 11pt;*/
  font-weight: bold;
}

#lugui-menu-actions span, #lugui-menu-actions form span {
  font-size: 10pt;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  color: royalblue;
  background-color: white;
  border-radius: 4px;
  padding: 1px;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 5px;
  cursor: pointer;
}

#lugui-menu-actions span:hover {
  background-color: darkgrey;
}

#lugui-menu {
}

html, body {
  padding: 0;
  margin: 0;
  /*width: 100%;
  height: 100%;*/

  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}

/**
 * basic wrapper of LineUp
 */
div.lu {
  clear: both;
  position: absolute;
  top: 35px;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  overflow: auto;
}

form {
  display: inline;
}

#drop_zone {
  border: 2px dashed #BBB;
  border-radius: 5px;
  padding: 1px 2em;
  text-align: center;
  color: #BBB;
}
