
#lugui-menu {
    background-color: lightgray;
    /*padding-left: 5px;*/
    /*padding-right: 5px;*/

    /*border: 2px solid darkgrey;*/
    border-radius: 5px;

    font-family: 'Lato', Helvetica, Arial;
    font-weight: normal;
    font-size: 11pt;
    white-space: nowrap;
    padding: 5;
    width: 100%;
}

#lugui-menu a {
    font-size: 10pt;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    color: royalblue;

}

#lugui-menu a:hover {
    /*font-size: 11pt;*/
    font-weight: bold;
}

#lugui-menu-actions span, form span {
    font-size: 10pt;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    color: royalblue;
    background-color: white;
    border-radius: 4px;
    padding: 1px;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 5px;
    cursor: pointer;
}

#lugui-menu-actions span:hover {
    background-color: darkgrey;
}

#lugui-menu {
}

html, body {
    padding: 0;
    margin: 0;
    /*width: 100%;
    height: 100%;*/
}

/**
 * basic wrapper of LineUp
 */
#lugui-wrapper {
    clear: both;
    position: absolute;
    top: 35px;
    padding: 0;
    width: 100%;
    height: -moz-calc(100% - 35px);
    height: -webkit-calc(100% - 35px);
    height: calc(100% - 35px);
}
/**
 * in the combined mode just a single svg is used and the container is the scrolling container
 */
#lugui-wrapper.lu-mode-combined {
    overflow-x: visible;
    overflow-y: auto;
}

/*
 * in the separate mode a dedicated header and body svg are used
 */
#lugui-wrapper.lu-mode-separate .lu-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
}

/*
 * in the separate mode a dedicated header and body svg are used, with an additional wrapper div for the body as scrolling container
 */
#lugui-wrapper.lu-mode-separate .lu-wrapper {
    position: relative;
    top: 50px;
    left: 0;
    width: 100%;
    height: -moz-calc(100% - 50px);
    height: -webkit-calc(100% - 50px);
    height: calc(100% - 50px);
    overflow-x: visible;
    overflow-y: auto;
}


form {
    display: inline;
}

#drop_zone {
    border: 2px dashed #BBB;
    border-radius: 5px;
    padding: 1px 2em;
    text-align: center;
    color: #BBB;
}