@import "colors";

.lu svg.lu-body {

  text, tspan {
    dominant-baseline: text-before-edge;
  }

  text {
    font-size: 10pt;

    &.selection {
      cursor: pointer;

      &:hover {
        color: darkblue;
      }
    }

    &.actions tspan {
      cursor: pointer;

      &:hover {
        color: darkblue;
      }
    }

    &.rank, &.text_right {
      text-anchor: end;
    }

    &.text_center {
      text-anchor: middle;
    }
  }

  g.bar rect {
    //bars nested combined with a text representation
    opacity: 0.5;
  }

  .cat rect {
    fill: transparent;
  }

  line.meanline {
    stroke: darkgray;
    stroke-width: 1;
  }

  line.slope {
    stroke: darkgray;
    stroke-width: 2;
    shape-rendering: geometricPrecision;

    &.hover {
      stroke: $lu_hover_color;
    }

    &.selected {
      stroke: $lu_selected_color;
    }
  }

  g.cols {
    pointer-events: none;
  }

  g.row {
    rect.bg {
      fill: transparent;

      &.even {
        fill: $lu_even_bg;
      }
    }
    &.selected {
      rect.bg {
        stroke: $lu_selected_color;
        stroke-width: 1;
      }
    }
    &.hover {
      rect.bg {
        fill: $lu_hover_color;
      }
      rect.bar, g.bar rect {
        opacity: 0.5;
      }
    }
  }

  foreignObject { //e.g. the input field in annotate columns
    padding: 0;
    margin: 0;
  }

  input {
    padding: 0;
    margin: 0;
    font-size: 9pt;
  }
}
