@import "colors";

.lu svg.lu-body {
  text, tspan {
    dominant-baseline: text-before-edge;
  }

  text {
    font-size: $lu_body_font_size;

    &.selection {
      cursor: pointer;

      &:hover {
        color: $lu_body_text_hover_color;
      }
    }

    &.actions tspan {
      cursor: pointer;

      &:hover {
        color: $lu_body_text_hover_color;
      }
    }

    &.rank, &.text_right {
      text-anchor: end;
    }

    &.text_center {
      text-anchor: middle;
    }
  }

  foreignObject { //e.g. the input field in annotate columns
    padding: 0;
    margin: 0;
    pointer-events: all;
  }

  .cat rect {
    fill: transparent;
  }

  line.meanline {
    stroke: darkgray;
    stroke-width: 1;
  }
  .sparklinecell {
    stroke: black;
    fill: none;
  }
  .boxplotrect {
    stroke: black;
    fill: #e0e0e0;
  }
  .cellbg {
    fill: transparent;
    stroke: none;
  }
  .boxplotline {
    stroke: black;
    fill: #e0e0e0;
  }
  .boxplotallpath {
    stroke: black;
    fill: #e0e0e0;
  }
  .boxplotsortpath {
    stroke: #ff0700;
    fill: #e0e0e0;
  }
  .upsetcell {
    circle {
      stroke: black;
      fill: black;
      opacity: 0.1;

      &.enabled {
        opacity: 1;
      }
    }
    path {
      stroke: black;
      fill: none;
    }
  }
  g.row {
    rect.bg {
      fill: transparent;
    }
    &.even rect.bg {
      fill: $lu_even_bg;
    }
    &.selected {
      rect.bg {
        stroke: $lu_selected_color;
        stroke-width: 1;
      }
    }
    &.hover {
      rect.bg {
        fill: $lu_hover_color;
      }
    }

    &.selected, &.hover {
      .bar rect {
        //bars nested combined with a text representation
        opacity: 0.5;
      }
    }

  }
}
