@import 'vars';
@import '~font-awesome/scss/variables';
@import '~font-awesome/scss/mixins';

.lineup-engine {
  > header {
    *[draggable] {
      cursor: pointer;
      cursor: -moz-grab;
      cursor: -webkit-grab; // indicate grab able
    }

    section {
      text-align: center;
      color: white;
      overflow: hidden;
      background: #c1c1c1;
      position: relative;

      > .#{$lu_css_prefix}-toolbar {

        display: none;
        position: absolute;
        text-align: right;
        right: 5px;
        top: 0;
        border-radius: 3px 0 0 3px;
        cursor: auto;
        background: $lu_header_background;
        font-size: $lu_toolbar_font_size;
        z-index: 1;

        > i {
          @include fa-icon();
          padding: 1px 2px;
          cursor: pointer;

          &:hover {
            color: darkblue;
          }

          &[title=Rename]::before {
            content: $fa-var-pencil-square-o;
          }

          &[title='Generate Snapshot']::before {
            content: $fa-var-code-fork;
          }

          &[title='Sort By']::before {
            content: $fa-var-sort;
          }

          &[title='Change Visualization']::before {
            content: $fa-var-exchange;
          }

          &[title='Edit Link Pattern']::before {
            content: $fa-var-external-link;
          }

          &[title='Edit Combine Script']::before {
            content: $fa-var-gears;
          }

          &[title='Filter']::before {
            content: $fa-var-filter;
          }

          &[title='Set Cut Off']::before {
            content: $fa-var-scissors;
          }

          &[title='Search']::before {
            content: $fa-var-search;
          }

          &[title='Edit Weights']::before {
            content: $fa-var-tasks;
          }

          &[title='UnCollapse']::before {
            content: $fa-var-toggle-right;
          }

          &[title='Collapse']::before {
            content: $fa-var-toggle-left;
          }

          &[title='Expand']::before {
            content: $fa-var-expand;
          }

          &[title='Compress']::before {
            content: $fa-var-compress;
          }

          &[title='Hide']::before {
            content: $fa-var-times;
          }
        }
      }

      > .#{$lu_css_prefix}-label {
        text-overflow: ellipsis;
        overflow-x: hidden;
      }

      > .#{$lu_css_prefix}-sort {
        @include fa-icon();

        position: absolute;
        left: 1px;
        top: 1px;
        font-size: $lu_toolbar_font_size;
      }

      &:not(.compressed):hover {
        > .#{$lu_css_prefix}-toolbar {
          display: block;
          padding: 7px;

          i {
            display: none;
          }

          /**
          show menu icon and provide extra spacing, that the menu doesn't close immediately when the mouse leaves the toolbar
           */
          &::before {
            @include fa-icon();

            z-index: -1;
            content: $fa-var-bars;
            font-size: 7pt;
            padding: 1px 2px 1px 1px;
            position: absolute;
            top: 0;
            right: 0;
            bottom: -5px;
            left: -5px;
          }

          &:hover {
            padding: 0 10px 0 5px; // give more padding to the right to prevent clicking the hide button

            &::before {
              content: '';
            }

            i {
              display: inline-block;
            }
          }
        }
      }

      &.compressed {
        > .#{$lu_css_prefix}-toolbar i:not([title='Hide']),
        > .#{$lu_css_prefix}-summary {
          display: none;
        }

        &:hover {
          > .#{$lu_css_prefix}-toolbar {
            display: block;
          }
        }
      }

      > .#{$lu_css_prefix}-summary {
        position: absolute;
        left: 0;
        right: 5px;
        top: 40%;
        height: 60%;
        display: none;
      }

      > .#{$lu_css_prefix}-handle {
        position: absolute;
        right: 0;
        height: 100%;
        top: 0;
        background-color: white;
        display: inline-block;
        cursor: col-resize;

        &.drag_over {
          background-color: $lu_drag_over;
        }
      }
    }
  }

  > main > article {
    > * {
      .hoverOnly,
      .selectionOnly {
        display: none;
      }

      &:hover,
      &.selected {
        .notHoverOnly {
          display: none;
        }

        .hoverOnly {
          display: block;
        }
      }

      /**
        selected state extends hover state
       */
      &.selected {
        .notSelectionOnly {
          display: none;
        }

        .selectionOnly {
          display: block;
        }
      }

      [data-renderer] {
        overflow-x: hidden;
        text-overflow: ellipsis;
      }

      @import './renderer/heatmap';
      @import './renderer/upset';
      @import './renderer/boxplot';
      @import './renderer/bar';
      @import './renderer/cat';
      @import './renderer/threshold';
      @import './renderer/sparkline';
      @import './renderer/vertical';
    }
  }
}
