@import "colors";

.lu div.lu-body {
  font: $lu_body_font;
  position: relative;

  div,
  svg {
    position: absolute;
    padding: 0;
    margin: 0;
  }

  div.text,
  div.cat {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  div.text {
    &.text_center {
      text-align: center;
    }
  }

  div.loading {
    div {
      display: inline;
    }
  }

  div.row {
    div.bg {
      background-color: transparent;
      border: 1px solid transparent;
    }

    &.even div.bg {
      background-color: $lu_even_bg;
    }

    &.selected {
      div.bg {
        border: 1px solid $lu_selected_color;
      }
    }

    &.hover {
      div.bg {
        border: 1px solid $lu_hover_color;
      }
    }

    &.selected,
    &.hover {
      .bar {
        opacity: 0.5; // bars nested combined with a text representation

        span {
          opacity: 1;
        }
      }
    }

    div.selection::before {
      content: "\f096";
    }

    &.selected div.selection::before {
      content: "\f046";
    }

    /**
    div.frozen {
      background-color: white;
      z-index: 1;
    }
    &.even div.frozen {
      background-color: $lu_even_bg;
    }
    &.selected div.frozen {
      border-top: 1px solid $lu_selected_color;
      border-bottom: 1px solid $lu_selected_color;
    }
    &.hover div.frozen {
      border-top: 1px solid $lu_hover_color;
      border-bottom: 1px solid $lu_hover_color;
    }
    */

    div.cat div {
      position: relative;
      display: inline-block;
    }

    div.heatmapcell,
    div.thresholdcell,
    div.verticalbarcell {
      display: flex;
      flex-direction: column;
      align-content: stretch;
      align-items: stretch;

      div {
        flex: 1 1 auto;
      }
    }

    div.thresholdcell div {
      height: 50%;

      &.down {
        top: 50%;
      }
    }

    svg.boxplotcell {
      .boxplotrect {
        stroke: $lu_renderer_boxplot_stroke;
        fill: $lu_renderer_boxplot_box;
      }

      path {
        fill: none;

        &.boxplotallpath {
          stroke: $lu_renderer_boxplot_stroke;
        }

        &.boxplotsortpath {
          stroke: $lu_renderer_boxplot_sort_indicator;
        }
      }
    }

    svg.upsetcell {
      circle {
        stroke: $lu_upset_stroke;
        fill: $lu_upset_circle_color;
        opacity: $lu_upset_inactive_opacity;

        &.enabled {
          opacity: 1;
        }
      }

      path {
        stroke: $lu_upset_stroke;
        fill: none;
      }
    }
  }
}
