$lu_toolbar_font_size: 8pt;

$lu_hover_color: #e5e5e5;
$lu_selected_color: #ffa500;

$lu_drag_over: #979797;

$lu_body_font_size: 10pt;
$lu_body_text_hover_color: darkblue;

$lu_slope_color: darkgray;
$lu_even_bg: #f7f7f7;


