@import 'vars';

.lineup-engine,
.#{$lu_css_prefix},
.#{$lu_css_prefix}-header,
.#{$lu_css_prefix}-pool,
.#{$lu_css_prefix}-side-panel,
.#{$lu_css_prefix}-popup2 {
  [aria-hidden=true] {
    display: none;
  }

  *[draggable] {
    cursor: pointer;
    cursor: -moz-grab;
    cursor: -webkit-grab; // indicate grab able
  }

  .#{$lu_css_prefix}-dragover {
    pointer-events: all !important;

    &::before,
    &::after {
      pointer-events: none !important;
    }

    * {
      pointer-events: none !important;

      &::before,
      &::after {
        pointer-events: none !important;
      }
    }
  }

  .#{$lu_css_prefix}-gradient-text {
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
}
