@import './vars';

.lineup-engine,
.#{$lu_css_prefix},
.#{$lu_css_prefix}-header,
.#{$lu_css_prefix}-side-panel,
.#{$lu_css_prefix}-dialog {
  [aria-hidden=true] {
    display: none;
  }

  [draggable] {
    cursor: pointer;
    cursor: -moz-grab;
    cursor: -webkit-grab; // indicate grab able
  }

  @import './icons/icon_style';
}

.#{$lu_css_prefix}-dragover {
  pointer-events: all !important;

  &::before,
  &::after {
    pointer-events: none !important;
  }

  * {
    pointer-events: none !important;

    &::before,
    &::after {
      pointer-events: none !important;
    }
  }
}

.#{$lu_css_prefix}-filter-missing {
  font-size: 13px;
}

.#{$lu_css_prefix}-checkbox {
  > input {
    display: inline;
  }

  > label {
    display: inline-flex;
  }
}

.#{$lu_css_prefix}-color-line {
  display: flex;
}

.#{$lu_css_prefix}-checkbox-color {
  width: 1.2em;
  height: 1.2em;
  margin: 0.1em;
  line-height: 0;
  display: flex;

  input:checked + label {
    outline: 2px solid black;
  }

  > input {
    display: none;
  }

  > label {
    flex: 1 1 0;
  }
}

.#{$lu_css_prefix}-color-gradient {
  display: flex;

  input:checked + label {
    outline: 2px solid black;
  }

  > label {
    margin: 0.1em;
    flex: 1 1 auto;
  }
}

.#{$lu_css_prefix}-summary .#{$lu_css_prefix}-checkbox label {
  display: inline-flex;
}

.#{$lu_css_prefix}-gradient-text {
  @include user_select_none();

  position: absolute;
  overflow: hidden;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
  z-index: 1;
}
