@import './vars';

.#{$lu_css_prefix}-aria,
.#{$lu_css_prefix}-hidden {
  display: none !important;
}

.#{$lu_css_prefix}-dragable {
  cursor: pointer;
  cursor: -moz-grab;
  cursor: -webkit-grab; // indicate grab able
}

.#{$lu_css_prefix}-dragover {
  pointer-events: all !important;

  &::before,
  &::after {
    pointer-events: none !important;
  }

  > * {
    pointer-events: none !important;
  }
}

.#{$lu_css_prefix}-filter-missing {
  font-size: 13px;
}

.#{$lu_css_prefix}-checkbox {
  display: inline;

  > input {
    display: inline;
  }

  > span {
    display: inline-flex;
  }
}

.#{$lu_css_prefix}-color-line {
  display: flex;
}

.#{$lu_css_prefix}-checkbox-color {
  width: 1.2em;
  height: 1.2em;
  margin: 0.1em;
  line-height: 0;
  display: flex;

  input:checked + span {
    outline: 2px solid black;
  }

  > input {
    display: none;
  }

  > span {
    flex: 1 1 0;
  }
}

.#{$lu_css_prefix}-color-gradient {
  display: flex;

  input:checked + span {
    outline: 2px solid black;
  }

  > span {
    margin: 0.1em;
    flex: 1 1 auto;
  }
}

.#{$lu_css_prefix}-summary .#{$lu_css_prefix}-checkbox > span {
  display: inline-flex;
}

.#{$lu_css_prefix}-gradient-text {
  @include user_select_none();

  position: absolute;
  overflow: hidden;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
  z-index: 1;
}

.#{$lu_css_prefix}-missing {
  background-image: linear-gradient(180deg, $lu_missing_dash_color $lu_missing_dash_height, transparent $lu_missing_dash_height);
  background-position: center center;
  background-size: $lu_missing_dash_width $lu_missing_dash_height;
  background-repeat: no-repeat;

  > * {
    display: none;
  }
}

.#{$lu_css_prefix}-busy * {
  cursor: wait !important;
}
