@import './vars';
@import './icons/index';

.#{$lu_css_prefix}-typed-icon {
  &[data-type-cat]::before {
    @include lu_custom_icons();

    color: $lu_toolbar_color_base2;
    width: 1.2em;
    content: '';
  }

  &[data-type-cat='composite']::before {
    @include lu_custom_icon($lu_icon_type_composite, composite);
  }

  &[data-type-cat='map']::before {
    @include lu_custom_icon($lu_icon_type_map, map);
  }

  &[data-type-cat='string']::before {
    @include lu_custom_icon($lu_icon_type_string, string);
  }

  &[data-type-cat='categorical']::before {
    @include lu_custom_icon($lu_icon_type_categorical, categorical);
  }

  &[data-type-cat='number']::before {
    @include lu_custom_icon($lu_icon_type_numerical, numerical);
  }

  &[data-type-cat='date']::before {
    @include lu_custom_icon($lu_icon_type_date, date);
  }

  &[data-type-cat='array']::before {
    @include lu_custom_icon($lu_icon_type_matrix, matrix);
  }
}

.#{$lu_css_prefix}-header {
  > .#{$lu_css_prefix}-typed-icon[data-type-cat='support']::before,
  > .#{$lu_css_prefix}-typed-icon[data-type-cat='other']::before {
    display: none;
  }
}
