/**
  popups, e.g., rename dialogs,...
 */
@import './vars';
@import './icons/index';

@at-root {
  .#{$lu_css_prefix}-dialog {
    background-color: white;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 5px;
    z-index: 9;
    font-size: $lu_dialog_font_size;
    clear: right;

    h4 {
      margin: 0.2em;
      display: inline-block;
    }

    &::before {
      content: '';
      top: -$lu_dialog_mouse_region;
      left: -$lu_dialog_mouse_region;
      right: -$lu_dialog_mouse_region;
      bottom: -$lu_dialog_mouse_region;
      position: absolute;
      z-index: -1;
    }

    label {
      font-weight: normal;
    }

    input {
      font-size: 8pt;
    }

    button {
      border: none;
      background: none;
      color: $lu_toolbar_color_base;
      transition: all 0.5s ease;
      cursor: pointer;

      &:hover,
      &:active,
      &:focus {
        color: $lu_toolbar_color_hover;
      }

      &::before {
        @include lu_icons();
      }
    }

    button[type=submit],
    button[type=reset],
    button[title=cancel] {
      margin-top: 1em;
    }

    button[type=submit]::before {
      content: $lu_icon_check;
    }

    button[title=cancel]::before {
      content: $lu_icon_times;
    }

    button[type=reset]::before {
      content: $lu_icon_undo;
    }

    button[type=submit] {
      float: right;
    }

    &.#{$lu_css_prefix}-sub-nested {
      width: 100px;
    }

    &.#{$lu_css_prefix}-filter-table {
      > div:first-of-type {
        overflow-y: auto;
        max-height: 50vh;
        display: flex;
        flex-direction: column;

        * {
          transition: all 0.5s ease;
        }

        span {
          width: 1.2em;
          margin: 0 0.5em;
        }

        input[type=number] + div {
          width: 3em;
          position: relative;

          > * {
            height: 100%;
          }
        }

        input[type=checkbox]:not(:checked) ~ * {
          opacity: 0.5;
        }

        > * {
          display: flex;
        }
      }
    }

    .#{$lu_css_prefix}_filter_missing {
      margin-top: 1em;
    }

    .script-description {
      font-size: 120%;
      max-width: 50em;

      dd {
        padding-left: 1em;
      }

      dl {
        padding: 1em 0.2em;
      }
    }
  }
}
