@import "colors";

.lu-pool {
  div.header {
    border: 2px outset white;
    position: absolute;

    &:hover {
      border-color: $lu_hover_color;
    }
  }
}

.lu, .lu-pool {
  position: relative;

  div.lu-header {
    position: relative;
    z-index: 1;
  }

  *[draggable] {
    cursor: pointer;
    cursor: -webkit-grab; //indicate grab able
  }

  div.lu-header, div.lu-pool {
    position: relative;

    background-color: white;

    .drop {
      width: 100%;
      height: 100%;
      position: absolute;

      &.drag_over {
        background-color: $lu_drag_over;
      }
    }
  }

  div.lu-header div.toolbar {
    display: none;
    position: absolute;
    text-align: right;
    right: 5px;
    top: 0;
    border-radius: 3px 0 0 3px;
    cursor: auto;
    background: #6D6C6C;
    z-index: 1;
  }

  div.lu-header {
    div.header {
      &.drag_over div.lu-label {
        color: $lu_drag_over;
      }

      &.compressed {
        div.toolbar i:not(.fa-toggle-right), div.histogram {
          display: none;
        }
      }

      div.histogram {
        position: absolute;
        left: 0;
        right: 5px;
        top: 40%;
        height: 60%;
        display: none;

        > div.bar {
          position: absolute;
          background-color: white;
          opacity: 0.5;

          &.selected {
            opacity: 1.0;
          }

          &:hover {
            opacity: 0.7;
          }
        }

        div.mean {
          position: absolute;
          height: 100%;
          width: 1px;
          border-left: 1px solid black;
        }
      }

      div.lu-label {
        position: relative;
        background: inherit;
        transform-origin: left top;

        text-overflow: ellipsis;
        overflow-x: hidden;
      }

      span.lu-label {
        background: inherit;
      }

      i.sort_indicator {
        position: absolute;
        left: 1px;
        top: 1px;
        font-size: $lu_toolbar_font_size;
      }

      div.handle {
        position: absolute;
        right: 0;
        height: 100%;
        top: 0;
        background-color: white;
        display: inline-block;
        cursor: col-resize;

        &.drag_over {
          background-color: $lu_drag_over;
        }
      }
    }

    div.toolbar i {
      font-size: $lu_toolbar_font_size;
      padding: 1px 2px;
      cursor: pointer;

      &:hover {
        color: darkblue;
      }
    }

    div.rankingbuttons {
      position: absolute;
      display: inline-block;
      height: 100%;

      font-size: 90%;
    }

    div.header, div.header_i {

      &.filtered > div.toolbar i.fa-filter {
        color: darkblue;
      }

      position: absolute;
      display: inline-block;
      overflow: hidden;
      color: white;
      text-align: center;
      height: 100%;

      font-size: 90%;

      &:not(.compressed):hover {
        & > div.toolbar {
          display: block;
          padding: 7px;

          i {
            display: none;
          }

          // show menu icon and provide extra spacing, that the menu doesn't close immediately when the mouse leaves the toolbar
          &:before {
            z-index: -1;
            content: '\f0c9';
            font-family: FontAwesome, sans-serif;
            font-size: 7pt;
            padding: 1px 2px 1px 1px;
            position: absolute;
            top: 0;
            right: 0;
            bottom: -5px;
            left: -5px;
          }

          &:hover {
            padding: 0 10px 0 5px; // give more padding to the right to prevent clicking the hide button

            &:before {
              content: '';
            }

            i {
              display: inline-block;
            }
          }
        }
      }

      &.compressed:hover {
        & > div.toolbar {
          display: block;
        }
      }

      &.number, &.categorical, &.ordinal {
        div.histogram {
          display: block
        }
      }

      &.rotateable {
        overflow: visible;
        white-space: nowrap;
      }
    }

    div.header_i {
      top: 50%;
      height: 50%;
    }
  }
}
