@import 'vars';

.#{$lu_css_prefix} {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: stretch;

  div.#{$lu_css_prefix}-header {
    flex: 0 0 auto;
    position: relative;
    z-index: 1;
    overflow-x: hidden;
  }

  div.#{$lu_css_prefix}-body-wrapper {
    flex: 1 1 auto;
    position: relative;
    overflow: auto;
  }
}

.#{$lu_css_prefix}-pool {
  position: relative;
}

@import './common';
