@import './vars';
@import './icons/index';

@at-root {
  .#{$lu_css_prefix}-dialog-mapper {
    width: 25em;

    > .#{$lu_css_prefix}-summary {
      height: 5em;
      margin: 0.5em 3px 0;
    }

    input[type=number] {
      width: 5em;
    }

    div.#{$lu_css_prefix}-script {
      margin-top: 1em;
      display: none;

      textarea {
        height: 5em;
        width: 98%;
        font-size: 9pt;
        display: block;
      }
    }

    &[data-scale=script] div.#{$lu_css_prefix}-script {
      display: block;
    }

    svg {
      shape-rendering: geometricprecision;
      height: 25em * 6 / 10;

      rect {
        fill: transparent;
        stroke: none;
      }

      line {
        stroke: $lu_mapping_bg;
        stroke-width: 1;
        stroke-linejoin: round;
        stroke-linecap: round;
      }

      line:not([x1]) {

        // the horizontal lines
        stroke-width: 1.5;
      }

      line[data-v] {
        stroke-opacity: 0.5;
        stroke-width: 0.5;
        stroke: $lu_toolbar_color_base2;
        pointer-events: none;
      }

      circle {
        fill: $lu_mapping_circle;
      }

      g.#{$lu_css_prefix}-mapping {
        cursor: ew-resize;

        > line:first-child {
          stroke-width: 5;
          stroke: transparent !important;
        }

        &.#{$lu_css_prefix}-frozen circle:first-of-type {
          cursor: not-allowed;
          fill: $lu_mapping_circle !important;
        }

        &:hover {
          circle {
            fill: $lu_mapping_hover;
          }

          line {
            stroke: $lu_mapping_hover;
          }
        }
      }
    }
  }
}
