/**
mapping editor
 */
@import 'vars';

.#{$lu_css_prefix}-mapping-editor {
  $sample_color: black;
  $mapping_color: blue;
  $mapping_color_hover: #0000cf;

  margin-bottom: 5px;
  clear: both;

  div {
    &.filter_part {
      margin-top: 15px;
    }

    &.filter_part2 {
      position: relative;
      top: -25px;
      height: 0;
    }

    span.title {
      font-weight: bold;
    }
  }

  .raw_min,
  .raw_max {
    width: 3em;
    display: block;
  }

  .mapping_area {
    display: flex;
    align-items: stretch;

    > div {
      display: flex;
      flex-direction: column;
      margin-bottom: 40px;

      &:first-child {
        text-align: right;
      }

      > span:first-of-type {
        flex-grow: 1;
      }
    }
  }

  svg {
    z-index: 1;
    position: relative;

    > rect {
      fill: white;
      opacity: 0;
    }

    g.samples {
      line {
        stroke: $sample_color;
        opacity: 0.5;
      }
    }

    g.mapping {
      &:hover {
        cursor: ew-resize;

        line {
          stroke: $mapping_color_hover;
        }

        circle {
          fill: $mapping_color_hover;
        }
      }

      line {
        stroke: $mapping_color;
      }

      circle {
        fill: $mapping_color;
      }
    }

    g.filter {
      text {
        font-size: 8pt;
      }

      path {
        fill: gray;
      }

      rect {
        fill: white;
        stroke: gray;
        stroke-width: 1;
      }

      > g {
        cursor: pointer;
        cursor: -moz-grab;
        cursor: -webkit-grab; // indicate grab able

        &:hover {
          path {
            fill: darkgray;
          }

          rect {
            stroke: darkgray;
          }
        }
      }
    }
  }

  div.script {
    clear: both;

    textarea {
      height: 4em;
      width: 98%;
      font-size: 8pt;
      display: block;
    }
  }

  div[id$='mapping-overlay'] { // id ends with mapping-overlay
    position: absolute;
    padding: 10px;
    background-color: white;
    border: 1px solid rgb(193, 193, 193);
    border-radius: 5px;
    z-index: 10;

    &.hide {
      opacity: 0.2;
    }

    div input {
      display: block;
    }

    input {
      width: 75px;
    }

    div:first-child {
      margin-bottom: 10px;
    }
  }

  div[id$='filter_inputs'] {
    display: flex;
    justify-content: space-around;
    padding: 0 30px 10px;
  }

  div input[id$='_filter_input'] {
    width: 75px;
  }
}
