
div.lu-missing {
  background: repeating-linear-gradient(-45deg, transparent, transparent 7px, #ddd 7px, #ddd 10px);

  > * {
    display: none;
  }
}

g.lu-missing {
  > * {
    display: none;
  }

  > title {
    display: block;
  }

  &.boxplotcell > rect.cellbg,
  &.bar > rect,
  &.stack > g:first-of-type {
    display: block;
  }
}
