//fat tooltip
.lu-tooltip {
  background-color: white;
  min-width: 200px;
  position: absolute;
  z-index: 3;

  font-size: 9pt;
  text-align: left;

  padding: 2px;
  table {
    width: 100%;
    border-collapse: collapse;
  }
  tbody th {
    width: 100px;
  }
  td, th {
    border: 1px solid black;
  }
}
