@import '~font-awesome/scss/variables';
@import '~font-awesome/scss/mixins';
@import '../vars';

/**
 * Creates a background that displays an opening square bracket using multiple linear gradients.
 */
@mixin square-bracket-bg($width, $stroke-color, $stroke-width, $top, $bottom) {
  $vertical-stroke: linear-gradient(to left, transparent $width - $stroke-width, $stroke-color $width - $stroke-width, $stroke-color $width, transparent $width);
  $top-stroke: linear-gradient(to bottom, $stroke-color $stroke-width, transparent $stroke-width);
  $bottom-stroke: linear-gradient(to top, $stroke-color $stroke-width, transparent $stroke-width);

  @if($top == true and $bottom == true) {
    background-image: $vertical-stroke, $top-stroke, $bottom-stroke;
  }
  @else if($top == true and $bottom == false) {
    background-image: $vertical-stroke, $top-stroke;
  }
  @else if($top == false and $bottom == true) {
    background-image: $vertical-stroke, $bottom-stroke;
  }
  @else {
    background-image: $vertical-stroke;
  }

  background-size: $width 100%;
  background-repeat: no-repeat;
  background-position: center right;
}

[data-renderer=aggregate] {
  text-align: center;

  @include square-bracket-bg($lu_aggregate_square_bracket_width, $lu_aggregate_square_bracket_stroke_color, $lu_aggregate_square_bracket_stroke_width, false, false);
}

[data-meta~=first] [data-renderer=aggregate] {
  cursor: pointer;

  @include square-bracket-bg($lu_aggregate_square_bracket_width, $lu_aggregate_square_bracket_stroke_color, $lu_aggregate_square_bracket_stroke_width, true, false);

  &::before {
    @include fa-icon();

    content: $fa-var-caret-down;
    padding-right: $lu_aggregate_square_bracket_width;
  }
}

[data-meta=last] [data-renderer=aggregate] {
  @include square-bracket-bg($lu_aggregate_square_bracket_width, $lu_aggregate_square_bracket_stroke_color, $lu_aggregate_square_bracket_stroke_width, false, true);
}

[data-meta='first last'] [data-renderer=aggregate],
[data-agg=group] [data-renderer=aggregate] {
  padding-right: $lu_aggregate_square_bracket_width;
  cursor: pointer;

  @include square-bracket-bg($lu_aggregate_square_bracket_width, $lu_aggregate_square_bracket_stroke_color, $lu_aggregate_square_bracket_stroke_width, true, true);
}

[data-agg=group] [data-renderer=aggregate]::before {
  @include fa-icon();

  content: $fa-var-caret-right;
}
