@import '../vars';
@import '../icons/index';

.#{$lu_css_prefix}-renderer-aggregate {
  display: flex;

  &.#{$engine_css_prefix}-td {
    overflow: visible;
  }
}

.#{$lu_css_prefix}-agg-level {
  flex: 0 0 $lu_aggregate_level_width;
  position: relative; // square bracket around

  &::after {
    content: '';
    pointer-events: none;
    position: absolute;
    left: $lu_aggregate_level_offset;
    bottom: 0;
    width: $lu_aggregate_square_bracket_width;
    border-left: $lu_aggregate_square_bracket_stroke_width solid $lu_aggregate_square_bracket_stroke_color;
  }

  &[data-level][data-meta~=first]::after {
    top: 0;
    border-top: $lu_aggregate_square_bracket_stroke_width solid $lu_aggregate_square_bracket_stroke_color;
  }

  &[data-meta~=last]::after {
    border-bottom: $lu_aggregate_square_bracket_stroke_width solid $lu_aggregate_square_bracket_stroke_color;
  }
}

.#{$lu_css_prefix}-agg-expand {
  flex: 0 0 $lu_aggregate_level_width;
  position: relative;
  color: $lu_toolbar_color_base;

  &::before {
    @include lu_icons();

    cursor: pointer;
    padding-left: 0.5em;
    content: $lu_icon_caret_down;
  }

  &:hover {
    color: $lu_toolbar_color_hover;
  }

  &.#{$lu_css_prefix}-agg-collapse::before {
    content: $lu_icon_caret_right;
  }
}

.#{$lu_css_prefix}-agg-inner {
  &::before {
    content: '\2012';
    position: absolute;
    left: 0.7em;
    top: -2px;
    bottom: 0;
    padding-top: 1px;
    border-left: 1px solid black;
  }

  &[data-meta=last]::before {
    bottom: 50%;
  }
}

.#{$lu_css_prefix}-agg-all {
  cursor: pointer;
  position: absolute;
  bottom: 2px;
  padding-left: 0.4em;
  left: 0;
  width: $lu_aggregate_level_width;
  color: $lu_toolbar_color_base;

  &::before {
    @include lu_icons();

    content: $lu_icon_expand;
    transform: rotate(-45deg);
  }

  &:hover {
    color: $lu_toolbar_color_hover;
  }

  &.#{$lu_css_prefix}-agg-compress::before {
    content: $lu_icon_compress;
  }

  &[data-level='1'] {
    left: $lu_aggregate_level_width;
  }

  &[data-level='2'] {
    left: $lu_aggregate_level_width * 2;
  }

  &[data-level='3'] {
    left: $lu_aggregate_level_width * 3;
  }

  &[data-level='4'] {
    left: $lu_aggregate_level_width * 4;
  }
}
