@import '../vars';

.#{$lu_css_prefix}-renderer[data-renderer=number],
.#{$lu_css_prefix}-renderer[data-renderer=circle] {
  position: relative;
  white-space: nowrap;

  div {
    position: absolute;
    width: 100%;
  }

  > div {
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;

    > div {
      height: 100%;
    }

    > span.#{$lu_css_prefix}-hover-only {
      position: relative; // required to position .lu-gradient-text
    }
  }
}


.#{$lu_css_prefix}-renderer[data-renderer=stack] .#{$lu_css_prefix}-renderer[data-renderer$=number] > div {
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.#{$engine_css_prefix}-tr[data-agg=group] > .#{$lu_css_prefix}-td[data-renderer$=number] > div > div {
  display: flex;
  align-items: center;
}
