
[data-renderer=number],
[data-renderer=circle] {
  position: relative;
  white-space: nowrap;

  > div {
    position: absolute;
    top: 5%;
    bottom: 5%;
    width: 100%;
  }
}

[data-renderer=stack] [data-renderer=number] > div {
  overflow-x: hidden;
  text-overflow: ellipsis;
}
