@use 'sass:math';

@import '../vars';

.#{$lu_css_prefix}-renderer-dot {
  > div {
    background: $lu_renderer_dot_color;
    opacity: $lu_renderer_dot_opacity;
    border-radius: math.div($lu_renderer_dot_size, 2);
    width: $lu_renderer_dot_size;
    height: $lu_renderer_dot_size;
    margin-top: math.div($lu_renderer_dot_size, -2);
    margin-left: math.div($lu_renderer_dot_size, -2);
    top: 50%;
    position: absolute;
  }

  &.#{$lu_css_prefix}-dot-single > div {
    background: $lu_renderer_dot_single_color;
    opacity: $lu_renderer_dot_single_opacity;
    border-radius: math.div($lu_renderer_dot_single_size, 2);
    width: $lu_renderer_dot_single_size;
    height: $lu_renderer_dot_single_size;
    margin-top: math.div($lu_renderer_dot_single_size, -2);
    margin-left: math.div($lu_renderer_dot_single_size, -2);
  }
}

.#{$engine_css_prefix}-td.#{$lu_css_prefix}-renderer-dot[data-group='d'] {
  overflow-x: unset;
}
