
[data-renderer=dot] {
  position: relative;

  > div {
    background: gray;
    opacity: 0.7;
    border-radius: 2.5px;
    width: 5px;
    height: 5px;
    margin-top: -2.5px;
    margin-left: -2.5px;
    top: 50%;
    position: absolute;
  }
}
