@import '../vars';

.#{$lu_css_prefix}-histogram {
  display: flex;
  flex-direction: row;

  &[data-interactive] > .#{$lu_css_prefix}-histogram-bin {
    cursor: pointer;
  }

  .#{$lu_css_prefix}-checkbox {
    position: absolute;
    bottom: -45px;
  }

  &.#{$lu_css_prefix}-dense {
    > .#{$lu_css_prefix}-histogram-bin {
      margin: 0;
    }
  }
}

span.#{$lu_css_prefix}-mapping-hint {
  @include user_select_none();

  position: absolute;
  bottom: -15px;
  pointer-events: none;
  line-height: 100%;

  /*
    * create axis tick as background image and position it left or right
    */
  background-image: linear-gradient(to bottom, #000 3px, transparent);
  background-repeat: no-repeat;
  background-size: 1px 3px;
  padding-top: 5px;

  &:first-of-type {
    left: 0;
    background-position: left top;
  }

  &:last-of-type {
    right: 0;
    text-align: right;
    background-position: right top;
  }
}

.#{$lu_css_prefix}-histogram-bin {
  flex: 1 1 auto;
  position: relative;
  margin: 0 1px 0 0;
  font-size: x-small;

  &[data-filtered=filtered] {
    opacity: 0.2;
  }

  > div {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
  }

  > .#{$lu_css_prefix}-selected {
    background-color: $lu_selected_color;
  }
}

.#{$lu_css_prefix}-histogram:not(.#{$lu_css_prefix}-dense) > .#{$lu_css_prefix}-histogram-bin[data-title]::before,
.#{$lu_css_prefix}-heatmap:not(.#{$lu_css_prefix}-dense) > .#{$lu_css_prefix}-heatmap-cell[data-title]::before {
  content: attr(data-title);
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
}

.#{$lu_css_prefix}-histogram-min,
.#{$lu_css_prefix}-histogram-max {
  position: absolute;
  top: 0;
  height: 100%;
  border-right: 1px solid black;
  transition: border-width 0.2s ease;
  width: 1px;
  cursor: ew-resize;

  &::before {
    content: attr(data-value);
    position: absolute;
    bottom: -15px;
    width: 5em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.#{$lu_css_prefix}-histogram-max {
  right: 0;
  border-right: none;
  border-left: 1px solid black;

  &::before {
    left: -5em;
    text-align: right;
  }
}

.#{$lu_css_prefix}-histogram-min-hint,
.#{$lu_css_prefix}-histogram-max-hint {
  pointer-events: none;
  position: absolute;
  top: 0;
  height: 100%;
  background: repeating-linear-gradient(-45deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7) 7px, #bababa 7px, #bababa 10px);
}

.#{$lu_css_prefix}-histogram-max-hint {
  right: 0;
}

.#{$lu_css_prefix}-histogram[data-interactive] {
  margin-bottom: 3.75em;

  &:hover {
    > .#{$lu_css_prefix}-histogram-min {
      border-right-width: 5px;
    }

    > .#{$lu_css_prefix}-histogram-max {
      border-left-width: 5px;
    }
  }
}
