@import '../vars';

[data-agg=group] [data-renderer=categorical],
[data-renderer=histogram] {
  display: flex;
  align-items: flex-end;
  font-size: x-small;

  > * {
    flex: 1 1 auto;
    position: relative;
    background: rgba(0, 0, 0, 0.26);
    margin: 0 1px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    > .lu-selected {
      flex: 1 1 auto;
      background-color: $lu_selected_color;
      border-radius: 5px 5px 0 0;
    }
  }

  &.#{$lu_css_prefix}-dense > * {
    margin: 0;
  }
}
