
%lu-renderer {
  @import './aggregate';
  @import './bar';
  @import './boxplot';
  @import './catdistributionbar';
  @import './categorical';
  @import './dot';
  @import './heatmap';
  @import './histogram';
  @import './image';
  @import './interleaving';
  @import './missing';
  @import './rank';
  @import './selection';
  @import './sparkline';
  @import './stack';
  @import './string';
  @import './threshold';
  @import './upset';
  @import './verticalbar';
}
