@import '../vars';

.#{$lu_css_prefix}-missing {
  background-image: linear-gradient(180deg, transparent, transparent 40%, $lu_missing_bg_color 40%, $lu_missing_bg_color 60%, transparent 60%);
  background-position: 45% 55%;
  background-size: 10px 100%;
  background-repeat: no-repeat;

  > * {
    display: none;
  }
}
