
[data-renderer=rank] {
  text-align: right;
}

[data-agg=detail] [data-renderer=rank] {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-variant-numeric: tabular-nums;
}

[data-agg=group] [data-renderer=rank] {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
