@import '../vars';

.#{$lu_css_prefix}-renderer[data-renderer=rank] {
  text-align: right;
  display: flex;
  justify-content: flex-end;
}

.#{$engine_css_prefix}-tr[data-agg=group] > .#{$engine_css_prefix}-td[data-renderer=rank] {
  flex-direction: column;
  justify-content: space-between;
}
