@import '../vars';

.#{$lu_css_prefix}-renderer-rank {
  text-align: right;
  display: flex;
  justify-content: flex-end;
}

.#{$lu_css_prefix}-group.#{$lu_css_prefix}-renderer-rank {
  flex-direction: column;
  justify-content: space-between;
}
