@import '../vars';
@import '../icons/index';

.#{$engine_css_prefix}-td.#{$lu_css_prefix}-renderer-selection {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  &::before {
    @include lu_icons_o();

    cursor: pointer;
    display: inline;
    content: $lu_icon_square_o;
  }
}

.#{$lu_css_prefix}-summary.#{$lu_css_prefix}-renderer-selection {
  cursor: pointer;
  font-size: medium;
  text-align: center;
}

.#{$engine_css_prefix}-tr.#{$lu_css_prefix}-selected > .#{$lu_css_prefix}-renderer-selection::before,
.#{$engine_css_prefix}-td.#{$lu_css_prefix}-group-selected::before {
  content: $lu_icon_check_square_o;
}
