@import '~font-awesome/scss/variables';
@import '~font-awesome/scss/mixins';
@import '../vars';

[data-renderer=selection] {
  text-align: center;

  &::before {
    @include fa-icon();

    content: $fa-var-square-o;
    padding-top: 2px;
  }
}

.#{$lu_css_prefix}-selected [data-renderer=selection]::before,
.selected [data-renderer=selection]::before,
.#{$lu_css_prefix}-group-selected[data-renderer=selection]::before {
  content: $fa-var-check-square-o;
  padding-left: 2px;
}
