@import '../vars';
@import '../icons/index';

[data-renderer=selection] {
  text-align: center;

  &::before {
    @include lu_icons();

    content: $lu_icon_square_o;
    padding-top: 2px;
  }
}

.#{$lu_css_prefix}-selected [data-renderer=selection]::before,
.selected [data-renderer=selection]::before,
.#{$lu_css_prefix}-group-selected[data-renderer=selection]::before {
  content: $lu_icon_check_square_o;
  padding-left: 2px;
}
