@import '../vars';

[data-agg=group] [data-renderer=string] {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.#{$lu_css_prefix}-summary[data-renderer=string] {
  display: block;
}
