@import '../vars';

[data-agg=detail] [data-renderer=string] {
  display: flex;
  align-items: center;
}

[data-agg=group] [data-renderer=string] {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.#{$lu_css_prefix}-right {
  justify-content: flex-end;
  text-align: right;
}

.#{$lu_css_prefix}-center {
  justify-content: center;
  text-align: left;
}
