@import '../vars';

.#{$engine_css_prefix}-td.#{$lu_css_prefix}-renderer-string {
  display: flex;
  align-items: center;
}

.#{$lu_css_prefix}-group.#{$lu_css_prefix}-renderer-string {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.#{$lu_css_prefix}-annotate-input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.#{$lu_css_prefix}-right {
  justify-content: flex-end;
  text-align: right;
}

.#{$lu_css_prefix}-center {
  justify-content: center;
  text-align: left;
}
