
[data-renderer=table] {
  font-size: 60%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 0.2em;
  grid-row-gap: 0.1em;

  > div {
    overflow: hidden;
    min-height: 1.2em;
    text-overflow: ellipsis;
  }
}
