@use '../vars';

.#{vars.$lu_css_prefix}-renderer-upset {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.#{vars.$lu_css_prefix}-upset-line {
  position: absolute;
  transform: translateY(-50%); // center
  margin-top: 1px; // center according to line height
  height: 2px; // line height
  background-color: vars.$lu_renderer_upset_color; // line color
}

.#{vars.$lu_css_prefix}-upset-dot {
  border-radius: 50%;
  background-color: vars.$lu_renderer_upset_color;
  opacity: vars.$lu_renderer_upset_inactive_opacity;
  width: 15px;
  height: 15px;

  &.#{vars.$lu_css_prefix}-enabled {
    opacity: 1;
  }
}
