
@import '~font-awesome/scss/variables';
@import '~font-awesome/scss/mixins';

@mixin lu_icons() {
  @include fa_icon();
}

$lu_icon_pencil_square_o: $fa-var-pencil-square-o;
$lu_icon_code_fork: $fa-var-code-fork; //x
$lu_icon_exchange: $fa-var-exchange;
$lu_icon_external_link: $fa-var-external-link;
$lu_icon_gears: $fa-var-gears;
$lu_icon_window_restore: $fa-var-window-restore;
$lu_icon_filter: $fa-var-filter;
$lu_icon_columns: $fa-var-columns;
$lu_icon_scissors: $fa-var-scissors;
$lu_icon_search: $fa-var-search;
$lu_icon_tasks: $fa-var-tasks;
$lu_icon_toggle_right: $fa-var-toggle-right;
$lu_icon_toggle_left: $fa-var-toggle-left;
$lu_icon_expand: $fa-var-expand;
$lu_icon_compress: $fa-var-compress;
$lu_icon_trash: $fa-var-trash;
$lu_icon_ellipsis_h: $fa-var-ellipsis-h;
$lu_icon_sitemap: $fa-var-sitemap;
$lu_icon_sort: $fa-var-sort;
$lu_icon_sort_amount_asc: $fa-var-sort-amount-asc;
$lu_icon_sort_amount_desc: $fa-var-sort-amount-desc;
$lu_icon_sort_alpha_asc: $fa-var-sort-alpha-asc;
$lu_icon_sort_alpha_desc: $fa-var-sort-alpha-desc;
$lu_icon_sort_numeric_asc: $fa-var-sort-numeric-asc;
$lu_icon_sort_numeric_desc: $fa-var-sort-numeric-desc;
$lu_icon_caret_down: $fa-var-caret-down;
$lu_icon_caret_right: $fa-var-caret-right;
$lu_icon_square_o: $fa-var-square-o;
$lu_icon_check_square_o: $fa-var-check-square-o;
$lu_icon_exclamation_triangle: $fa-var-exclamation-triangle;
$lu_icon_check: $fa-var-check;
$lu_icon_times: $fa-var-times;
$lu_icon_undo: $fa-var-undo;
$lu_icon_sort_asc: $fa-var-sort-asc;
$lu_icon_sort_desc: $fa-var-sort-desc;
