$fa-font-path: '~@fortawesome/fontawesome-free/webfonts' !default;
@import '~@fortawesome/fontawesome-free/scss/functions';
@import '~@fortawesome/fontawesome-free/scss/variables';

@mixin lu_fontawesome_var_icons() {
  $lu_icon_pencil_square_o: fa-content($fa-var-edit) !global;
  $lu_icon_code_fork: fa-content($fa-var-code-branch) !global;
  $lu_icon_exchange: fa-content($fa-var-exchange-alt) !global;
  $lu_icon_external_link: fa-content($fa-var-external-link-alt) !global;
  $lu_icon_gears: fa-content($fa-var-cogs) !global;
  $lu_icon_window_restore: fa-content($fa-var-window-restore) !global;
  $lu_icon_filter: fa-content($fa-var-filter) !global;
  $lu_icon_columns: fa-content($fa-var-columns) !global;
  $lu_icon_scissors: fa-content($fa-var-cut) !global;
  $lu_icon_search: fa-content($fa-var-search) !global;
  $lu_icon_tasks: fa-content($fa-var-tasks) !global;
  $lu_icon_toggle_right: fa-content($fa-var-caret-square-right) !global;
  $lu_icon_toggle_left: fa-content($fa-var-caret-square-left) !global;
  $lu_icon_expand: fa-content($fa-var-expand) !global;
  $lu_icon_compress: fa-content($fa-var-compress) !global;
  $lu_icon_trash: fa-content($fa-var-trash) !global;
  $lu_icon_ellipsis_h: fa-content($fa-var-ellipsis-h) !global;
  $lu_icon_sitemap: fa-content($fa-var-sitemap) !global;
  $lu_icon_sort: fa-content($fa-var-sort) !global;
  $lu_icon_sort_amount_asc: fa-content($fa-var-sort-amount-down-alt) !global;
  $lu_icon_sort_amount_desc: fa-content($fa-var-sort-amount-up-alt) !global;
  $lu_icon_sort_alpha_asc: fa-content($fa-var-sort-alpha-down) !global;
  $lu_icon_sort_alpha_desc: fa-content($fa-var-sort-alpha-up) !global;
  $lu_icon_sort_numeric_asc: fa-content($fa-var-sort-numeric-down) !global;
  $lu_icon_sort_numeric_desc: fa-content($fa-var-sort-numeric-up) !global;
  $lu_icon_caret_down: fa-content($fa-var-caret-down) !global;
  $lu_icon_caret_right: fa-content($fa-var-caret-right) !global;
  $lu_icon_square_o: fa-content($fa-var-square) !global;
  $lu_icon_check_square_o: fa-content($fa-var-check-square) !global;
  $lu_icon_exclamation_triangle: fa-content($fa-var-exclamation-triangle) !global;
  $lu_icon_check: fa-content($fa-var-check) !global;
  $lu_icon_times: fa-content($fa-var-times) !global;
  $lu_icon_undo: fa-content($fa-var-undo) !global;
  $lu_icon_sort_asc: fa-content($fa-var-sort-down) !global;
  $lu_icon_sort_desc: fa-content($fa-var-sort-up) !global;
  $lu_icon_sort_asc: fa-content($fa-var-sort-down) !global;
  $lu_icon_sort_desc: fa-content($fa-var-sort-up) !global;
  $lu_icon_align_justify: fa-content($fa-var-align-justify) !global;
  $lu_icon_bars: fa-content($fa-var-bars) !global;
}
