@import './index';
@import '../vars';
@import './custom_font';

[data-luicon]::before {
  @include lu_icons();

  text-align: center;
}

[data-luicon=checked]::before {
  content: $lu_icon_check_square_o;
}

[data-luicon=unchecked]::before {
  content: $lu_icon_square_o;
}

[data-luicon=caret-down]::before {
  content: $lu_icon_caret_down;
}

[data-luicon=caret-right]::before {
  content: $lu_icon_caret_right;
}
