@import './index';
@import '../vars';
@import './custom_font';

.#{$lu_css_prefix}-icon-checked::before {
  @include lu_icons();

  text-align: center;
  content: $lu_icon_check_square_o;
}

.#{$lu_css_prefix}-icon-unchecked::before {
  @include lu_icons();

  text-align: center;
  content: $lu_icon_square_o;
}

.#{$lu_css_prefix}-icon-caret-down::before {
  @include lu_icons();

  text-align: center;
  content: $lu_icon_caret_down;
}

.#{$lu_css_prefix}-icon-caret-right::before {
  @include lu_icons();

  text-align: center;
  content: $lu_icon_caret_right;
}
