@import '../vars';
@import '~font-awesome/scss/variables';
@import '~font-awesome/scss/mixins';

%lu-header {
  position: relative;
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @import './toolbar';

  .#{$lu_css_prefix}-label {
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
  }

  &.#{$lu_css_prefix}-dragging {
    opacity: 0.5;
  }

  &.#{$lu_css_prefix}-dragover::after {
    content: '+';
    font-size: 250%;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    pointer-events: none;
    background: $lu_drag_over;
  }

  .#{$lu_css_prefix}-spacing {
    flex: 1;
  }

  .#{$lu_css_prefix}-summary {
    position: relative;
    display: none;
    font-size: x-small;

    @import './summary';
  }

  .#{$lu_css_prefix}-nested {
    position: relative;
  }
}
