@import '../vars';

@import './summary';
@import './toolbar';

.#{$lu_css_prefix}-header,
.#{$lu_css_prefix}-side-panel-entry {
  @include user_select_none();

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: white;

  &.#{$lu_css_prefix}-dragging {
    > .#{$lu_css_prefix}-label,
    > .#{$lu_css_prefix}-toolbar,
    > .#{$lu_css_prefix}-summary {
      opacity: 0.5;
    }
  }
}

.#{$lu_css_prefix}-label {
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.#{$lu_css_prefix}-sublabel {
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  font-size: smaller;
}

.#{$lu_css_prefix}-spacing {
  flex: 1;
}

.#{$lu_css_prefix}-summary {
  position: relative;
  font-size: x-small;
}
