@import '../vars';

&[data-summary$=hist] {
  display: flex;
  align-items: flex-end;

  > * {
    flex: 1 1 auto;
    position: relative;
    background: rgba(255, 255, 255, 0.5);
    margin: 0 1px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    &[data-filtered=filtered] {
      opacity: 0.2;
    }

    > .lu-selected {
      flex: 1 1 auto;
      background-color: $lu_selected_color;
      border-radius: 5px 5px 0 0;
    }

    &[data-title]::before {
      content: attr(data-title);
      position: absolute;
      top: 100%;
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      text-align: center;
    }
  }
}

&[data-summary^=interactive] {
  > * {
    cursor: pointer;
  }
}

&[data-summary=interactive-filter-hist] {
  label {
    position: absolute;
    bottom: -2.75em;
  }
}

&[data-summary=slider-hist] {
  margin-bottom: 2.75em;
  position: relative;

  > [data-handle=min],
  > [data-handle=max] {
    position: absolute;
    height: 100%;
    border-right: 1px solid black;
    transition: border-width 0.2s ease;
    width: 1px;
    cursor: ew-resize;

    &::before {
      content: attr(data-value);
      position: absolute;
      top: 100%;
      width: 5em;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  > [data-handle=max] {
    right: 0;
    border-right: none;
    border-left: 1px solid black;

    &::before {
      left: -5em;
      text-align: right;
    }
  }

  &:hover {
    > [data-handle=min] {
      border-right-width: 5px;
    }

    > [data-handle=max] {
      border-left-width: 5px;
    }
  }

  > [data-handle$=hint] {
    pointer-events: none;
    position: absolute;
    height: 100%;
    background: repeating-linear-gradient(-45deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7) 7px, #bababa 7px, #bababa 10px);

    &[data-handle=max-hint] {
      right: 0;
    }
  }

  label {
    position: absolute;
    bottom: -2.75em;
  }
}

&[data-summary=selection] > i {
  cursor: pointer;
}

&[data-summary=string],
&[data-summary=selection] {
  display: block;
}
