@import '../vars';

.#{$lu_css_prefix}-summary {
  span.#{$lu_css_prefix}-disabled {
    @include user_select_none();

    color: gray;
    cursor: not-allowed;
  }

  input[type=text],
  select {
    border: 1px solid $lu_side_panel_input_border;
    border-radius: $lu_side_panel_input_border_radius;
    padding: 3px 5px;
    box-sizing: border-box;
  }

  select {
    outline: none;
    cursor: pointer;
  }

  .#{$lu_css_prefix}-checkbox > span {
    font-weight: normal;
    align-items: center;
    margin: 5px 0;
    font-size: 13px;
  }
}
