@import '../vars';
@import '../icons/index';

.#{$lu_css_prefix}-toolbar {
  position: relative;
  font-size: $lu_toolbar_font_size;
  display: flex;
  justify-content: center;
  padding: 3px;
}

.#{$lu_css_prefix}-action {
  padding: 2px 4px;
  cursor: pointer;
  position: relative;
  display: flex;

  &:hover {
    color: $lu_toolbar_color_hover;
  }

  &::before {
    @include lu_icons();
  }
}

.#{$lu_css_prefix}-action-rename::before,
.#{$lu_css_prefix}-action-rename---color::before {
  content: $lu_icon_pencil_square_o;
}

.#{$lu_css_prefix}-action-clone::before {
  content: $lu_icon_code_fork;
}

.#{$lu_css_prefix}-action-sort-groups::before {
  content: $lu_icon_sort;
}

.#{$lu_css_prefix}-action-visualization::before {
  content: $lu_icon_exchange;
}

.#{$lu_css_prefix}-action-edit-pattern::before {
  content: $lu_icon_external_link;
}

.#{$lu_css_prefix}-action-color-mapping::before {
  content: $lu_icon_brush;
}

.#{$lu_css_prefix}-action-data-mapping::before {
  content: $lu_icon_sliders;
}

.#{$lu_css_prefix}-action-change-show-top-n::before,
.#{$lu_css_prefix}-action-reduce-by::before,
.#{$lu_css_prefix}-action-edit-combine-script::before,
.#{$lu_css_prefix}-action-customize::before {
  content: $lu_icon_gears;
}

.#{$lu_css_prefix}-action-split-combined-column::before {
  content: $lu_icon_window_restore;
}

.#{$lu_css_prefix}-action-filter::before {
  content: $lu_icon_filter;
}

.#{$lu_css_prefix}-action-filter[data-active]::before {
  color: $lu_selected_color;
}

.#{$lu_css_prefix}-action-group::before {
  content: $lu_icon_columns;
  transform: rotate(-90deg);
  height: 14px;
}

.#{$lu_css_prefix}-action-sort {
  &::before {
    content: $lu_icon_sort_amount_asc;
  }

  &[data-sort='desc']::before {
    content: $lu_icon_sort_amount_desc;
  }

  &[data-type=abc] {
    &::before {
      content: $lu_icon_sort_alpha_asc;
    }

    &[data-sort='desc']::before {
      content: $lu_icon_sort_alpha_desc;
    }
  }

  &[data-type=num] {
    &::before {
      content: $lu_icon_sort_numeric_asc;
    }

    &[data-sort='desc']::before {
      content: $lu_icon_sort_numeric_desc;
    }
  }
}

.#{$lu_css_prefix}-action-sort[data-sort$='sc']::before,
.#{$lu_css_prefix}-action-sort-groups[data-sort$='sc']::before,
.#{$lu_css_prefix}-action-group[data-group='true']::before {
  color: $lu_selected_color;
}

.#{$lu_css_prefix}-action-set-cut-off::before {
  content: $lu_icon_scissors;
}

.#{$lu_css_prefix}-action-search::before {
  content: $lu_icon_search;
}

.#{$lu_css_prefix}-action-edit-weights::before {
  content: $lu_icon_tasks;
}

.#{$lu_css_prefix}-action-uncollapse::before {
  content: $lu_icon_toggle_right;
}

.#{$lu_css_prefix}-action-collapse::before {
  content: $lu_icon_toggle_left;
}

.#{$lu_css_prefix}-action-invert-selection::before {
  content: $lu_icon_check_square_o;
}

.#{$lu_css_prefix}-action-expand::before {
  content: $lu_icon_expand;
}

.#{$lu_css_prefix}-action-compress::before {
  content: $lu_icon_compress;
}

.#{$lu_css_prefix}-action-remove::before {
  content: $lu_icon_trash;
}

.#{$lu_css_prefix}-action-choose::before {
  content: $lu_icon_caret_down;
}

.#{$lu_css_prefix}-action-more::before {
  content: $lu_icon_ellipsis_h;
}

.#{$lu_css_prefix}-action-contained-columns::before {
  content: $lu_icon_sitemap;
}

.#{$lu_css_prefix}-action-move-up::before {
  content: $lu_icon_up_open;
}

.#{$lu_css_prefix}-action-move-down::before {
  content: $lu_icon_down_open;
}

.#{$lu_css_prefix}-action-group[data-priority],
.#{$lu_css_prefix}-action-sort[data-priority] {
  padding-left: 10px;

  &::after {
    content: attr(data-priority) '.';
    position: absolute;
    right: 0;
    z-index: 1;
    margin-top: 2px;
    margin-right: 65%;
    text-align: right;
    color: $lu_selected_color;
    font-style: normal;
    font-size: 10px;
    font-weight: bold;
    line-height: 1;
    pointer-events: none;
  }
}

.#{$lu_css_prefix}-action-group[data-priority] {
  padding-left: 15px;

  &::after {
    margin-right: 60%;
  }
}

.#{$lu_css_prefix}-more-options {
  font-size: $lu_toolbar_font_size;
  padding: 0;

  > i {
    display: flex;
    padding: 5px 10px 5px 5px;
    align-items: center;
    cursor: pointer;
    padding-left: 0;

    &:hover {
      background: $lu_hover_color;
    }

    &::before {
      width: 19px;
      text-align: center;
    }

    > span {
      font-style: normal;
      margin-left: 3px;
    }
  }

  > .#{$lu_css_prefix}-action-sort,
  > .#{$lu_css_prefix}-action-group {
    padding-left: 0;

    &::after {
      display: none;
    }
  }
}
