@import '../vars';
@import '~font-awesome/scss/variables';
@import '~font-awesome/scss/mixins';

.#{$lu_css_prefix}-toolbar {
  position: relative;
  font-size: $lu_toolbar_font_size;
  display: flex;
  justify-content: center;
  padding: 3px;

  > i {
    padding: 2px 4px;
    cursor: pointer;
    position: relative;
    display: flex;

    &:hover {
      color: $lu_toolbar_color_hover;
    }

    &.hidden {
      display: none;
    }

    &[title^='Stratify'][data-priority],
    &[title^='Sort'][data-priority] {
      padding-left: 10px;

      &::after {
        content: attr(data-priority) '.';
        position: absolute;
        right: 0;
        z-index: 1;
        margin-top: 2px;
        margin-right: 65%;
        text-align: right;
        color: $lu_selected_color;
        font-style: normal;
        font-size: 10px;
        font-weight: bold;
        line-height: 1;
        pointer-events: none;
      }
    }

    &[title^='Stratify'][data-priority] {
      padding-left: 15px;

      &::after {
        margin-right: 60%;
      }
    }
  }
}

&.filtered .#{$lu_css_prefix}-toolbar i[title='Filter'] {
  color: $lu_header_active_filter_color;
}

&.grouped .#{$lu_css_prefix}-toolbar i[title='Stratify by'] {
  color: $lu_header_active_filter_color;
}

@at-root {
  .#{$lu_css_prefix}-toolbar,
  .#{$lu_css_prefix}-more-options {
    i {
      &::before {
        @include fa-icon();
      }

      &[title^='Rename + Color']::before {
        content: $fa-var-pencil-square-o;
      }

      &[title='Generate Snapshot']::before {
        content: $fa-var-code-fork;
      }

      &[title^='Sort by']::before {
        content: $fa-var-sort;
      }

      &[title^='Visualization']::before {
        content: $fa-var-exchange;
      }

      &[title^='Edit Link Pattern']::before {
        content: $fa-var-external-link;
      }

      &[title^='Sort Group by']::before {
        content: $fa-var-sort;
      }

      &[title^='Edit Combine Script']::before {
        content: $fa-var-gears;
      }

      &[title='Split Combined Column']::before {
        content: $fa-var-window-restore;
      }

      &[title^='Filter']::before {
        content: $fa-var-filter;
      }

      &[title^='Stratify']::before {
        content: $fa-var-columns;
        transform: rotate(-90deg);
        height: 14px;
      }

      &[title='Sort']::before {
        content: $fa-var-sort-amount-asc;
      }

      &[title='Sort'][data-sort='desc']::before {
        content: $fa-var-sort-amount-desc;
      }

      &[title='Sort'][data-sort$='sc']::before,
      &[title^='Stratify'][data-stratify='true']::before {
        color: $lu_selected_color;
      }

      &[title^='Set Cut Off']::before {
        content: $fa-var-scissors;
      }

      &[title^='Search']::before {
        content: $fa-var-search;
      }

      &[title='Edit Weights']::before {
        content: $fa-var-tasks;
      }

      &[title='UnCollapse']::before {
        content: $fa-var-toggle-right;
      }

      &[title='Collapse']::before {
        content: $fa-var-toggle-left;
      }

      &[title='Expand']::before {
        content: $fa-var-expand;
      }

      &[title='Compress']::before {
        content: $fa-var-compress;
      }

      &[title='Remove']::before {
        content: $fa-var-trash;
      }

      &[title^='More']::before {
        content: $fa-var-ellipsis-h;
      }

      &[title^='Contained Columns']::before {
        content: $fa-var-sitemap;
      }
    }
  }

  /* Override alphabetical sort icons */
  .categorical,
  .string,
  .link,
  .annotate,
  .hierarchy,
  [data-type='string'],
  [data-type='categorical'],
  [data-type='link'],
  [data-type='annotate'],
  [data-type='hierarchy'] {
    .#{$lu_css_prefix}-toolbar i,
    .#{$lu_css_prefix}-more-options i {
      &[title='Sort']::before {
        content: $fa-var-sort-alpha-asc;
      }

      &[title='Sort'][data-sort='desc']::before {
        content: $fa-var-sort-alpha-desc;
      }
    }
  }

  /* Override numerical sort icons */
  .rank,
  .number,
  [data-type='number'],
  [data-type='numbers'],
  [data-type='ordinal'],
  [data-type='boxplot'],
  [data-type='script'],
  [data-type='min'],
  [data-type='max'],
  [data-type='stack'] {
    .#{$lu_css_prefix}-toolbar i,
    .#{$lu_css_prefix}-more-options i {
      &[title='Sort']::before {
        content: $fa-var-sort-numeric-asc;
      }

      &[title='Sort'][data-sort='desc']::before {
        content: $fa-var-sort-numeric-desc;
      }
    }
  }

  .#{$lu_css_prefix}-more-options {
    font-size: $lu_toolbar_font_size;
    padding: 0;

    > i {
      display: flex;
      padding: 5px 10px 5px 5px;
      align-items: center;
      cursor: pointer;

      &:hover {
        background: $lu_hover_color;
      }

      &::before {
        width: 19px;
        text-align: center;
      }

      > span {
        font-style: normal;
        margin-left: 3px;
      }
    }
  }
}
