//mapping editor

$sample_color: black;
$mapping_color: blue;
$mapping_color_hover: #0000cf;

.lugui-me {
  margin-bottom: 5px;
  clear: both;

  .raw_min, .raw_max {
    width: 3em;
    display: block;
  }

  .mapping_area {
    display: flex;
    align-items: stretch;

    > div {
      display: flex;
      flex-direction: column;

      > span:first-of-type {
        flex-grow: 1;
      }
    }
  }

  svg {
    z-index: 1;
    position: relative;

    > rect {
      fill: white;
      opacity: 0;
    }

    g.samples {
      line {
        stroke: $sample_color;
        opacity: 0.5;
      }
    }
    g.mapping {
      &:hover {
        cursor: ew-resize;
        line {
          stroke: $mapping_color_hover;
        }
        circle {
          fill: $mapping_color_hover;
        }
      }

      line {
        stroke: $mapping_color;

      }
      circle {
        fill: $mapping_color;
      }
    }

    g.filter {
      text {
        font-size: 8pt;
        alignment-baseline: hanging;
      }
      path {
        fill: gray;
      }
      rect {
        fill: white;
        stroke: gray;
        stroke-width: 1;
      }

      > g {
        cursor: pointer;
        cursor: -webkit-drag;

        &:hover {
          path {
            fill: darkgray;
          }
          rect {
            stroke: darkgray;
          }
        }
      }
    }
  }

  div.script {
    clear: both;

    textarea {
      height: 4em;
      width: 98%;
      font-size: 8pt;
      display: block;
    }
  }
}

//popups, e.g., rename dialogs,...

.lu-popup {
  position: absolute;

  dominant-baseline: central;
  text-anchor: middle;

  .ok {
    position: absolute;
    right: 10px;
  }
}

.lu-popup, .lu-popup2 {
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  padding: 2px;
  box-shadow: 5px 5px 3px #888888;

  z-index: 9;

  font-size: 8pt;

  clear: right;

  input {
    font-size: 8pt;
  }

  .selectionTable {
    background: white;
    overflow-x: auto;
    overflow-y: auto;
    max-height: 50vh;

    td,
    th {
      white-space: nowrap;
      padding: 1px 5px 1px 3px;
      cursor: pointer;
    }

    th {
      border-bottom: #c1c1c1 1px solid;
    }

    table {
      width: 95%;
      border: 0;
    }
    tr:hover {
      background-color: lightblue;
    }
  }

  .lu-popup-title {
    cursor: pointer;
    cursor: -webkit-grab;
  }
}

.lu-popup2 {
  * {
    margin: 0;
  }
  .ok {
    float: right;
  }
  div.bar {
    height: 1em;
  }
}

//fat tooltip
.lu-tooltip {
  background-color: white;
  min-width: 200px;
  position: absolute;
  z-index: 3;

  font-size: 9pt;
  text-align: left;

  padding: 2px;
  table {
    width: 100%;
    border-collapse: collapse;
  }
  tbody th {
    width: 100px;
  }
  td, th {
    border: 1px solid black;
  }
}

$lu_hover_color: #e5e5e5;
$lu_selected_color: #ffa500;
$lu_toolbar_font_size: 8pt;
$lu_even_bg: #f7f7f7;
$lu_drag_over: #979797;

.lu-pool {
  div.header {
    border: 2px outset white;
    position: absolute;

    &:hover {
      border-color: $lu_hover_color;
    }
  }
}

.lu, .lu-pool {
  position: relative;

  div.lu-header {
    position: relative;
    z-index: 1;
  }

  .hoverOnly {
    display: none;
  }

  .hover .notHoverOnly {
    display: none;
  }

  .hover .hoverOnly {
    display: block;
  }

  .selectionOnly {
    display: none;
  }
  .selected .selectionOnly {
    display: block;
  }
  .selected .notSelectionOnly {
    display: none;
  }

  *[draggable] {
    cursor: pointer;
    cursor: -webkit-grab; //indicate grab able
  }

  div.lu-header, div.lu-pool {
    position: relative;

    background-color: white;

    .drop {
      width: 100%;
      height: 100%;
      position: absolute;

      &.drag_over {
        background-color: $lu_drag_over;
      }
    }
  }

  div.lu-header div.toolbar {
    display: none;
    position: absolute;
    text-align: right;
    right: 5px;
    top: 0;
    border-radius: 3px 0 0 3px;
    cursor: auto;
    background: #6D6C6C;
    z-index: 1;
  }

  div.lu-header {
    div.header {
      &.drag_over div.lu-label {
        color: $lu_drag_over;
      }

      &.compressed {
        div.toolbar i:not(.fa-toggle-right), div.histogram {
          display: none;
        }
      }

      div.histogram {
        position: absolute;
        left: 0;
        right: 5px;
        top: 40%;
        height: 60%;
        display: none;

        > div.bar {
          position: absolute;
          background-color: white;
          opacity: 0.5;

          &.selected {
            opacity: 1.0;
          }

          &:hover {
            opacity: 0.7;
          }
        }

        div.mean {
          position: absolute;
          height: 100%;
          width: 1px;
          border-left: 1px solid black;
        }
      }

      div.lu-label {
        position: relative;
        background: inherit;
        transform-origin: left top;

        text-overflow: ellipsis;
        overflow-x: hidden;
      }

      span.lu-label {
        background: inherit;
      }

      i.sort_indicator {
        position: absolute;
        left: 1px;
        top: 1px;
        font-size: $lu_toolbar_font_size;
      }

      div.handle {
        position: absolute;
        right: 0;
        height: 100%;
        top: 0;
        background-color: white;
        display: inline-block;
        cursor: col-resize;

        &.drag_over {
          background-color: $lu_drag_over;
        }
      }
    }

    div.toolbar i {
      font-size: $lu_toolbar_font_size;
      padding: 1px 2px;
      cursor: pointer;

      &:hover {
        color: darkblue;
      }
    }

    div.rankingbuttons {
      position: absolute;
      display: inline-block;
      height: 100%;

      font-size: 90%;
    }

    div.header, div.header_i {

      &.filtered > div.toolbar i.fa-filter {
        color: darkblue;
      }

      position: absolute;
      display: inline-block;
      overflow: hidden;
      color: white;
      text-align: center;
      height: 100%;

      font-size: 90%;

      &:not(.compressed):hover {
        & > div.toolbar {
          display: block;
          padding: 7px;

          i {
            display: none;
          }

          // show menu icon and provide extra spacing, that the menu doesn't close immediately when the mouse leaves the toolbar
          &:before {
            z-index: -1;
            content: '\f0c9';
            font-family: FontAwesome, sans-serif;
            font-size: 7pt;
            padding: 1px 2px 1px 1px;
            position: absolute;
            top: 0;
            right: 0;
            bottom: -5px;
            left: -5px;
          }

          &:hover {
            padding: 0 10px 0 5px; // give more padding to the right to prevent clicking the hide button

            &:before {
              content: '';
            }

            i {
              display: inline-block;
            }
          }
        }
      }

      &.compressed:hover {
        & > div.toolbar {
          display: block;
        }
      }

      &.number, &.categorical, &.ordinal {
        div.histogram {
          display: block
        }
      }

      &.rotateable {
        overflow: visible;
        white-space: nowrap;
      }
    }

    div.header_i {
      top: 50%;
      height: 50%;
    }
  }

  .lu-body {
    input {
      padding: 0;
      margin: 0;
      font-size: 9pt;
      pointer-events: all;
    }

    line.slope {
      stroke: darkgray;
      stroke-width: 2;
      shape-rendering: geometricPrecision;

      &.hover {
        stroke: $lu_hover_color;
      }

      &.selected {
        stroke: $lu_selected_color;
      }
    }
  }

  svg.lu-body {
    text, tspan {
      font-size: 10pt;
      dominant-baseline: text-before-edge;
    }

    text.actions tspan {
      cursor: pointer;

      &:hover {
        color: darkblue;
      }
    }

    text.rank, text.text_right {
      text-anchor: end;
    }
    text.text_center {
      text-anchor: middle;
    }

    foreignObject { //e.g. the input field in annotate columns
      padding: 0;
      margin: 0;
      pointer-events: all;
    }

    .cat rect {
      fill: transparent;
    }

    g.meanlines {
      pointer-events: none;

      line {
        stroke: darkgray;
        stroke-width: 1;
      }
    }

    text.selection {
      cursor: pointer;

      &:hover {
        color: darkblue;
      }
    }

    g.row {
      rect.bg {
        fill: transparent;
      }
      &.even rect.bg {
        fill: $lu_even_bg;
      }
      &.selected {
        rect.bg {
          stroke: $lu_selected_color;
          stroke-width: 1;
        }
      }
      &.hover {
        rect.bg {
          fill: $lu_hover_color;
        }

        .bar rect {
          //bars nested combined with a text representation
          opacity: 0.5;
        }
      }
    }
  }

  div.lu-body {
    font-size: 10pt;

    div, svg {
      position: absolute;
      padding: 0;
      margin: 0;
    }

    div.text {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    div.row {
      div.bg {
        background-color: transparent;
        border: 1px solid transparent;
      }
      &.even div.bg {
        background-color: $lu_even_bg;
      }
      &.selected {
        div.bg {
          border: 1px solid $lu_selected_color;
        }
      }
      &.hover {
        div.bg {
          border: 1px solid $lu_hover_color;
        }

        .bar {
          //bars nested combined with a text representation
          opacity: 0.5;

          span {
            opacity: 1.0;
          }
        }
      }

      div.selection:before {
        content: "\f096";
      }
      &.selected div.selection:before {
        content: "\f046";
      }

      //div.frozen {
      //  background-color: white;
      //  z-index: 1;
      //}
      //&.even div.frozen {
      //  background-color: $lu_even_bg;
      //}
      //&.selected div.frozen {
      //  border-top: 1px solid $lu_selected_color;
      //  border-bottom: 1px solid $lu_selected_color;
      //}
      //&.hover div.frozen {
      //  border-top: 1px solid $lu_hover_color;
      //  border-bottom: 1px solid $lu_hover_color;
      //}

      div.cat div {
        position: relative;
        display: inline-block;
      }
    }
  }
}
