
.lugui-me {
  line.axis, g.data line {
    stroke: gray;
  }
  line.bound {
    stroke: black;
    stroke-width: 2;
  }
  circle.handle {
    fill: steelblue;
    cursor: pointer;
    &.dragging {
      fill: black;
    }
  }
  text {
    &.drag {
      visibility: hidden;
    }
    &.centered {
      text-anchor: middle;
    }
  }
}

.lu-popup {
  background: white;
  position: absolute;

  border-radius: 10px;
  padding: 10px;
  box-shadow: 10px 10px 5px #888888;

  font-size: 9pt;
  dominant-baseline: central;
  text-anchor: middle;

  .selectionTable {
    background: white;
    overflow-x: auto;
    overflow-y: scroll;

    table {
      width: 95%;
      border: 0;
    }
    tr:hover {
      background-color: lightblue;
    }
  }
  .ok {
    position: absolute;
    right: 10px;
  }
}

.lu-popup
.lu-popup2 {
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  padding: 2px;

  font-size: 9pt;

  clear: right;
}

.lu-popup2 {
  * {
    margin: 0;
  }
  .ok {
    float: right;
  }
  div.bar {
    height: 1em;
  }
}

.lu-tooltip {
  background-color: white;
  min-width: 200px;
  position: absolute;
  z-index: 3;

  font-size: 9pt;
  text-align: left;

  padding: 2px;
  table {
    width: 100%;
    border-collapse: collapse;
  }
  tbody th {
    width: 100px;
  }
  td, th {
    border: 1px solid black;
  }
}

$lu_hover_color: #e5e5e5;
$lu_toolbar_font_size: 9pt;

.lu {
  text {
    dominant-baseline: text-before-edge;
  }

  *[draggable] {
    cursor: pointer;
    cursor: -webkit-grab; //indicate grab able
  }

  line.slope {
    stroke: black;
    shape-rendering: geometricPrecision;

    &:hover {
      stroke: $lu_hover_color;
    }
  }

  g.cols {
    pointer-events: none;
  }

  rect.bg {
    fill: transparent;
  }

  g.row.hover {
    rect.bg {
      fill: $lu_hover_color;
    }
    rect.bar {
      opacity: 0.5;
    }
  }

  div.lu-header, div.lu-pool {
    position: relative;
  }

  div.header, div.header_i {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    color: white;
    text-align: center;
    height: 100%;
  }

  div.header_i {
    top: 50%;
  }

  div.lu-header div.toolbar {
    display: none;
    position: absolute;
    right: 6px;
    text-align: right;
    top: 0;
    cursor: auto;
  }

  div.lu-header {
    div.header {
      &:hover {
        &> div.toolbar, &> div.toolbar {
          display: block;
        }
      }

      i.sort_indicator {
        position: absolute;
        left: 1px;
        top: 1px;
        font-size: $lu_toolbar_font_size;
      }

      div.handle {
        position: absolute;
        right: 0;
        height: 100%;
        top: 0;
        background-color: white;
        display: inline-block;
        cursor: col-resize;

        &.drag_over {
          background-color: black;
        }
      }
    }

    div.toolbar i {
      font-size: $lu_toolbar_font_size;
      padding: 1px;

      &:hover {
        color: darkblue;
      }
    }
  }
}
