name: ci

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2.1.5
        with:
          node-version: '14.x'
      - run: npm i -g yarn
      - run: yarn set version berry && yarn set version latest
      - run: cat .yarnrc_patch.yml >> .yarnrc.yml
      - run: yarn config set checksumBehavior ignore
      - name: Cache Node.js modules
        uses: actions/cache@v2.1.6
        with:
          path: |
            ./.yarn
            ~/.cache/Cypress
          key: ${{ runner.os }}-yarn2-v3-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn2-v3
      - run: yarn install
      - run: yarn clean
      - run: yarn compile
      - run: yarn build
      - run: yarn lint
      - run: yarn test:coverage
      - run: yarn docs
      - run: yarn cy:compile
      - run: yarn cy:junit
      - uses: actions/upload-artifact@v2.2.4
        if: failure()
        with:
          name: cypress-artifacts
          path: |
            cypress/screenshots
            cypress/videos

      - run: |
          mkdir -p public/main
          cp -rt public/main/ docs demo/* build/*
          mkdir -p public/app
          cp -rt public/app/ build/LineUpJS.* build/*.ttf build/*.eot build/*.svg

          mkdir -p public_dev/develop
          cp -rt public_dev/develop/ demo/* build/*
          mkdir -p public_dev/app_develop
          cp -rt public_dev/app_develop/ build/LineUpJS.* build/*.ttf build/*.eot build/*.svg

      - name: Deploy Main
        if: github.ref == 'refs/heads/main' && github.event_name == 'push'
        uses: upsetjs/actions-gh-pages@sgratzl
        env:
          ACTIONS_ALLOW_UNSECURE_COMMANDS: true
        with:
          personal_token: ${{ secrets.PRIVATE_GITHUB_TOKEN }}
          external_repository: lineupjs/lineup.js.org
          publish_branch: main
          publish_dir: ./public
          enable_jekyll: true
          remove_path_spec: 'main,app/LineUpJS.*,app/*.eot,app/*.ttf,app/*.svg'

      - name: Deploy Develop
        if: github.ref == 'refs/heads/develop' && github.event_name == 'push'
        uses: upsetjs/actions-gh-pages@sgratzl
        env:
          ACTIONS_ALLOW_UNSECURE_COMMANDS: true
        with:
          personal_token: ${{ secrets.PRIVATE_GITHUB_TOKEN }}
          external_repository: lineupjs/lineup.js.org
          publish_branch: main
          publish_dir: ./public_dev
          enable_jekyll: true
          remove_path_spec: 'develop,app_develop/LineUpJS.*,app_develop/*.eot,app_develop/*.ttf,app_develop/*.svg'
